= content_for :h1 do
  = t("pages.change_password")
= error_messages_for :user
= form_for :user, :url => edit_current_password_path do |f|
  .password
    =f.label :current_password
    =f.password_field :current_password
    =f.label :password
    =f.password_field :password
    =f.label :password_confirmation
    =f.password_field :password_confirmation
  =f.submit t("pages.change_password") 