%h3= title

%table
  %tr
    %th
    %th== Payment Source Number
    %th== Payment Source Type
    %th== Access Level
  - accounts.each do |account|
    %tr
      %td
      %td= link_to account, facility_account_path(current_facility, account)
      %td=h account.type_string
      %td= role
