- if flash[:errors]
  %p.alert.alert-error= flash[:errors]

- else
  .pull-right
    = link_to text("reports.export_as_csv"), url_for(format: :csv), class: "js--exportSearchResults pull-right", data: { form: ".js--searchForm" }
  = render "account_table"
