%table
  %tr
    - if editable
      %th
    %th Price Group
    %th Type
    %th.currency Unit Cost
    %th.currency Unit Adjustment
    %th.currency Unit Net Cost
  - service_price_policies.each do |price_policy|
    %tr
      - if editable && service_price_policies.first == price_policy
        %td.centered{ :rowspan => service_price_policies.length }
          %ul.form
            %li= link_to 'Edit', edit_facility_service_price_policy_path(current_facility, @service, url_date)
            %li= link_to 'Remove', facility_service_price_policy_path(current_facility, @service, url_date), :confirm => 'Are you sure?', :method => :delete
      %td=h price_policy.price_group.name
      %td=h price_policy.price_group.type_string
      - if price_policy.restrict_purchase?
        %td.centered{ :colspan => 3 } Unable to purchase
      - else
        %td.currency=h number_to_currency price_policy.unit_cost
        %td.currency=h number_to_currency price_policy.unit_subsidy
        %td.currency=h number_to_currency (price_policy.unit_cost - price_policy.unit_subsidy)
