# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

* @tablexi/nucore

# Ignore changes to the Gemfile + Gemfile.lock
# by assigning the review to @ghost, which is
# NOT a a collaborator on this project,
# and thus not assigned for review.
Gemfile* @ghost
package.json @ghost
yarn.lock @ghost
