log/
tmp/
.bundle/
.idea/
.rvmrc
.ruby-gemset
sqlnet.log
config/database.yml
config/ldap.yml
oracle/
public/plugin_assets/
public/files/
public/assets/
public/system/
spec/models/nucs/
spec/controllers/nucs/
vendor/bundle
vendor/cache/
vendor/engines/nucs/Gemfile
vendor/engines/nucs/Gemfile.lock
vendor/engines/nucs/config/database.yml
.tmp
*~
.*~
*.swp
.project
.sass-cache/

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/secrets.yml

public/images/bg-search-form.pxm

# Ignore RSpec's persistence file:
spec/examples.txt
.DS_Store
.tags
.tags1
erd.*
/ssh

*.p12
