- if @order_detail_action
  = form_tag url_for(params.merge({:action => @order_detail_action})), :method => :post do
    = render :partial => 'transaction_history/table_inside'
- else
  = render :partial => 'transaction_history/table_inside'
  
  