= content_for :h1 do
  =h current_facility

= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_order', :locals => { :secondary_tab => 'disputed'}

- if @order_details.empty?
  %p.notice There are no "Disputed" orders.
- else
  = render :partial => 'facility_orders/disputed_table'
