.checkboxControl
  = f.input :repeats, as: :boolean, input_html: { data: { disables: ".admin_reservation_repeat_frequency, .admin_reservation_repeat_end_date" } }, wrapper_html: { class: "checkboxControl__checkbox" }
  = f.input :repeat_frequency, collection: AdminReservationForm::REPEAT_OPTIONS.map(&:titleize), selected: "Weekly"
  = f.input :repeat_end_date, input_html: { class: "datepicker" }
