- if schedule.facility_instruments.size > 1
  .timeline-schedule
    %h3= schedule.name
    = render partial: "instrument", collection: schedule.facility_instruments, as: :instrument
- else
  .timeline-single
    = render partial: "instrument", collection: schedule.facility_instruments, as: :instrument
