- if schedule.facility_visible_products.size > 1
  .timeline-schedule
    %h3= schedule.name
    = render partial: "instrument", collection: schedule.facility_visible_products, as: :instrument
- else
  .timeline-single
    = render partial: "instrument", collection: schedule.facility_visible_products, as: :instrument
