- if current_facility.single_facility? && Account.config.reconcilable_account_types.any?
  %li.nav-spacer
  - Account.config.reconcilable_account_types.each do |account_type|
    - route_name = Account.config.account_type_to_route(account_type)
    = tab t("facility_accounts_reconciliation.index.head", model: account_type.constantize.model_name.human(count: 2)),
      [route_name, FacilityAccount], (sidenav_tab == route_name)
