-# TODO: I18n confirmation
= link_to user.last_first_name,
  [:new, @facility, @product, :user, user: user],
  data: { confirm: "Are you sure you wish to authorize this user to order this #{@product.class.model_name.human.downcase}?" }
