%p
  The instrument you have reserved for today at
  #{l(@reservation.reserve_start_at, format: :timeonly)},
  #{@reservation.product}, is down.

  If the instrument is still down at your scheduled time, your reservation will
  be canceled at no cost.

%p
  Please contact the #{t("facility_downcase")} for more information.
