- long_report=@headers.size > 6
%tbody
  - @rows.each do |row|
    %tr
      - row.each_with_index do |col, i|
        %td{:class => i > (long_report ? 1 : 0) ? 'currency' : ''}= col

  - if @rows.size > 1
    %tr
      %td
        %strong Total
      - if long_report
        %td
      - @totals.each do |total|
        %td.currency
          %strong= total
