%ul
  %li
    %a{:href => instrument_facility_instrument_reports_path }
      %span Instrument
  %li
    %a{:href => account_facility_instrument_reports_path }
      %span Account
  %li
    %a{:href => account_owner_facility_instrument_reports_path }
      %span Account Owner
  %li
    %a{:href => purchaser_facility_instrument_reports_path }
      %span Purchaser
  %li
    %a{:href => reserved_quantity_facility_instrument_day_reports_path }
      %span Reserved Count
  %li
    %a{:href => reserved_hours_facility_instrument_day_reports_path }
      %span Reserved Hours
  %li
    %a{:href => actual_quantity_facility_instrument_day_reports_path }
      %span Actual Count
  %li
    %a{:href => actual_hours_facility_instrument_day_reports_path }
      %span Actual Hours
