%ul
  %li
    %a{:href => instrument_facility_instrument_reports_path }
      %span Instrument
  %li
    %a{:href => account_facility_instrument_reports_path }
      %span Account
  %li
    %a{:href => account_owner_facility_instrument_reports_path }
      %span Account Owner
  %li
    %a{:href => purchaser_facility_instrument_reports_path }
      %span Purchaser