= html("intro", first_name: @user.first_name, last_name: @user.last_name, login_url: new_user_session_url)

- if @password
  = html("username_and_password", username: @user.username, password: @password, login_url: new_user_session_url)
- else
  = html("only_username", username: @user.username, login_url: new_user_session_url)

= html("outro")
