= html(".intro_html", first_name: @user.first_name, last_name: @user.last_name, login_url: new_user_session_url)

- if @password
  = html(".username_and_password_html", username: @user.username, password: @password)
- else
  = html(".only_username_html", username: @user.username)

= html(".outro_html")
