= html("body", facility: @order_detail.facility, user: @order_detail.user, product: @order_detail.product, new_status: @order_detail.order_status, order_detail: @order_detail, link: orders_url, facility_mailto: @order_detail.facility.email)
