%p Thank you for your order on the NUCore website.

%ul
  %li
    %label Order #
    =h @order.id
  %li
    %label Ordered at
    =h @order.ordered_at.strftime("%b %e, %Y %l:%M %p")
  %li
    %label Facility
    =h @order.facility
  %li
    %label Ordered By
    =h "#{@order.created_by_user.first_name} #{@order.created_by_user.first_name}"

%table
  %tr
    %th Product
    %th Quantity
    %th Estimated Price
    %th Estimated Adjustment
    %th Estimated Total
  - @order.order_details.each do |od|
    %tr
      - if od.reservation
        %td
          =h od.product.name
          %br
          =h od.reservation
      - else
        %td=h od.product.name
      %td=h od.quantity
      %td=h number_to_currency od.estimated_cost
      %td=h number_to_currency od.estimated_subsidy
      %td=h number_to_currency od.estimated_total

%p All prices are estimates. Actual cost is assigned when the order is complete.
