= html "body", accounts: @accounts, facility: @facility

- @accounts_grouped_by_owner.each do |owner, accounts|
  %strong= html("owner_header", owner: owner)
  %ul
    - accounts.each do |account|
      %li= account.to_s(with_facility: false)

= html "outro", login_url: in_review_transactions_url
