%p= t('.body_html', :facility => @facility.to_s, :account => @account.to_s, :login_link => link_to('log in to ' + t('app_name'), account_facility_statement_url(@account, @facility, @statement, :format => :pdf)))

