%p== New transactions for #{@facility} have been posted to "#{ @account }". Please #{link_to 'log in to NU Core', account_facility_statement_url(@account, @facility, @statement, :format => :pdf)} and review these charges.
