%p
  == A new statement from #{@facility} has been created for your payment source, "#{ @account }".
  == Please #{link_to 'log in to NU Core', account_facility_statement_url(@account, @facility, @statement, :format => :pdf)} and review your statement.

