- require 'csv'
= CSV.generate do |csv|
  - csv << [User.human_attribute_name(:email), User.human_attribute_name(:name), User.human_attribute_name(:username)]
  - @users.each{ |user| csv << [user.email, user.name, user.username] }