= CSVHelper::generate do |csv|
  - csv << [User.human_attribute_name(:name), User.human_attribute_name(:username), User.human_attribute_name(:email)]
  - @users.each{ |user| csv << [user.name, user.username, user.email] }