/***************************************
reset.css overrides
***************************************/
body {
	background:#fff;
	font-family:"Lucida Grande",Geneva,Verdana,Arial,sans-serif;
	font-size:12px;
	line-height:1.5em;
}

a,a:hover,a:visited {
	color:blue;
}

a:hover {
	text-decoration:none;
}

h1,h2,h3 {
	font-weight:400;
	margin-bottom:5px;
}

h1 {
	border-bottom:1px solid #ddd;
	font-size:32px;
	letter-spacing:-1px;
	line-height:1em;
	margin-bottom:.5em;
	padding-bottom:10px;
}

h2 {
	font-size:22px;
}

h3 {
	font-size:18px;
}

p,ul {
	line-height:1.5em;
	margin-bottom:1.5em;
}

label {
	display:block;
	font-weight:700;
}

label.inline {
	display:inline;
}
label.inline_wide {
	display:inline-block;
	width: 11em;
}

.text_left {
	text-align:left;
}

.text_center {
	text-align:center;
}

.text_right {
	text-align:right;
}

input[type=button] {
	-moz-border-bottom-colors:none;
	-moz-border-image:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors:none;
	-moz-border-top-colors:none;
	-moz-transition:all 0.1s linear 0;
	background-color:#C1C1C1;
	background-image:0;
	background-repeat:no-repeat;
	border-color:#C1C1C1;
	border-radius:4px 4px 4px 4px;
	border-style:solid;
	border-width:1px;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color:#333;
	cursor:pointer;
	display:inline-block;
	font-size:13px;
	line-height:normal;
	padding:5px 14px 6px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
}

small {
	font-size: smaller;
}

/***************************************
reusable classes
***************************************/
.indented {
	padding-left:10px;
}

.indented_lots {
	padding-left:30px;
}

.centered {
	text-align:center;
}

.hidden {
	display:none;
}

.document {
	background:url(../images/icon_file.jpg) no-repeat 0 0;
	line-height:24px;
	padding-left:28px;
}

.require,.required {
	background:url("../images/asterisk.png") no-repeat 0 0;
	padding-left:9px;
}

.left {
	float:left;
}

ul.form li.left {
	margin-right:20px;
}

.box {
	border:1px dashed #888;
	padding:15px;
}

.box_no_fill {
	border:1px solid #C1C1C1;
	padding:10px;
}

ul.horiz li {
	display:inline;
	margin-right:10px;
}

.info {
	background:#eee;
	border:1px solid #bbb;
	margin-bottom:10px;
	padding:10px;
	text-align:center;
}

.notice {
	background:#F4F9FE;
	border:1px solid #ACC6DE;
	margin-bottom:2em;
	padding:10px;
	text-align:center;
}

.btn {
	background-color:#E6E6E6;
	background-image:0;
	background-repeat:no-repeat;
	border-color:#CCC #CCC #BBB;
	border-radius:4px 4px 4px 4px;
	border-style:solid;
	border-width:1px;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color:#333;
	cursor:pointer;
	display:inline-block;
	font-size:12px;
	font-weight:700;
	line-height:normal;
	padding:7px 20px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
}

a.btn,input.btn {
	color:#000;
	text-decoration:none;
}

a.btn:hover,input.btn:hover {
	background:#ccc;
	border:1px solid #bbb;
	cursor:hand;
}

h1 .btn {
	float: right;
	letter-spacing: 0;
}


.footnote {
	font-size:10px;
	text-align:right;
}

.disabled {
	color:#D1D1D1 !important;
}

.estimated_cost {
	color:orange;
}

.actual_cost {
	color:green;
}

.reconcile-note {
	color:#dbbfc6;
}

.dense {
	font-size:11px;
}

.very_dense {
	font-size: 10px;
}

.nowrap {
	white-space:nowrap;
}

fieldset.collapsable legend {
	padding-left: 12px;
	cursor: pointer;
	font-weight: bold;
	position: relative;
}
fieldset.collapsable legend:before {
	content: '';
	position: absolute;
	z-index: 1;
	width: 10px;
	height: 10px;
	left: 0;
	top: 3px;
	background: url(../images/sprite-collapse.png) no-repeat -10px 0;
}
fieldset.collapsable.collapsed legend:before {
	background-position: 0 0;
}

/****************************************
 * Displaying fields edited in the WYSIWYG editor
 ****************************************/

.wysiwyg {}
.wysiwyg ul,
.wysiwyg ol {
	margin: 1.12em 0;
	margin-left: 1.9em;
}
.wysiwyg ol ul,
.wysiwyg ul ol,
.wysiwyg ul ul,
.wysiwyg ol ol,
.wysiwyg ol li,
.wysiwyg ul li {
	margin-top: 0;
	margin-bottom: 0
}
.wysiwyg ul {
	list-style-type: disc;
}
.wysiwyg ol {
	list-style-type: decimal;
}

.wysiwyg blockquote {
	border-left: 2px solid #DDD;
	margin: 1em 1.5em;
	padding-left: 0.5em;
}

#content .wysiwyg p {
	margin: 1em 0;
}


/***************************************
main layout ids
***************************************/
#acting_as {
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top center , #268BD2, #6ebdf3);
	background-repeat: no-repeat;
	border-bottom:2px solid #1570a2;
	font-size:15px;
	font-weight:bold;
	overflow:hidden;
	text-align:center;
}

#acting_as p {
	margin:3px 0;
	text-shadow:1px 1px #83bde0;
}

#acting_as a {
	font-size:12px;
	font-weight:normal;
}

#logo {
	color:#FFF;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:27px;
	line-height:0;
	text-decoration:none;
	position:relative;
	top:5px;
}

#breadcrumb {
  background: none repeat scroll 0 0 #F9F9F9;
  border-bottom: 1px solid #DDDDDD;
  font-size: 10px;
  font-weight: 700;
  height: 35px;
}

#breadcrumb ul {
	line-height:30px;
	margin:0;
}

#breadcrumb ul li {
	font-weight:500;
	margin:0;
}

#footer {
	color:#666;
	font-size:11px;
	padding:15px 0;
}

#footer .ft {
	border-top:1px solid #ddd;
	padding-top:10px;
}

#footer .ft p {
	color:#919191;
	line-height:75px;
}

#content {
	background:#FFF;
	padding:15px 0 60px;
}

#sidebar ul {
	border:1px solid #DDD;
	border-radius:3px 3px 3px 3px;
	box-shadow:0 1px 0 #FFF inset;
}

#sidebar ul ul {
	border:none;
	box-shadow:none;
	display:none;
}

#sidebar li {
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #f5f5f5);
	background-repeat: no-repeat;
	padding:10px 15px;
}

/* todo: need to browser test this */
#sidebar ul li + li {
	border-top:1px solid #ddd;
}

#sidebar ul li a {
	color:#666;
	text-decoration:none;
}

#sidebar li,#sidebar li li {
	color:#666;
	font-weight:400;
}

#sidebar li li {
	padding:5px;
	text-indent:0;
}

#sidebar li.sub_menu {
	cursor:pointer;
	text-indent:-12px;
}

#sidebar li.sub_menu .icon {
	background:url(../images/icon-submenu.png) top left no-repeat;
	display:inline-block;
	height:12px;
	position:relative;
	width:12px;
}

#sidebar ul .break {
	display:block;
	height:10px;
	width:100%;
}

#sidebar #menu_billing {
	z-index:999999;
}

#sidebar #menu_billing li {
	padding:10px 15px;
}

#sidebar #menu_billing li.sub_menu .icon {
	height:10px;
}

#sidebar #menu_billing ul li li {
	background:none;
	border:none;
	padding:0 0 0 10px;
}

#cart ul li {
	margin-top:6px;
}

.backdate_fields {
	float: left;
	padding: 8px 0 0 6px;
}

ul li.warning {
	background:url(../images/icon_warning.jpg) no-repeat 0 0;
	color:#B44D4D;
	line-height:24px;
	padding-left:28px;
}

p.warning {
	background:url(../images/icon_warning.jpg) no-repeat 0 0;
	color:#B44D4D;
	line-height:24px;
	margin-bottom:0;
	margin-top:7px;
	padding-left:25px;
}

/***************************************
tables
***************************************/
table {
	border-radius:5px;
	margin-bottom:15px;
	width:100%;
}

tr {
	border:1px solid #ddd;
}

th {
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #f5f5f5);
	background-repeat: no-repeat;
	font-size:13px;
	font-weight:700;
	padding:10px 5px;
	text-align:center;
	text-shadow:1px 1px #fff;
}

th.actions, td.actions {
  width: 100px;
}

.sortable {
	background-image:url(../images/icon-sort.gif);
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:10px;
}

.asc {
	background-image:url(../images/icon-sort-ascend.gif);
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:10px;
}

.desc {
	background-image:url(../images/icon-sort-descend.gif);
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:10px;
}

td {
	border:1px solid #ddd;
	padding:10px 5px;
}

td.one,td.two {
	background-color:#EFEFEF;
	font-size:20px;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
}

tr.reconcile-warning td {
	background-color:#dbbfc6 !important;
}

.errorExplanation,p.error {
	background:#FAEFEF;
	border:1px solid #B44D4D;
	margin-bottom:10px;
	padding:10px;
}

p.error {
	color:#B44D4D;
	font-weight:700;
	text-align:center;
}

.errorExplanation p {
	color:#B44D4D;
	font-weight:700;
}

.errorExplanation li {
	font-weight:700;
	list-style-position:inside;
	list-style-type:disc;
}

.fieldWithErrors input,.fieldWithErrors select {
	border:2px solid #B44D4D;
	padding:1px 0;
}

/***********************
* Search forms
*/
.search_form fieldset {
	float:left;
	margin-right:20px;
}

.search_form fieldset#calendar_filter input[type=text],
.search_form fieldset#calendar_filter select {
	width:100px;
	border:1px solid #AAA;
	height:24px;
	margin-bottom:4px;
}

.search_form fieldset#search,.search_form fieldset#search ul {
	width:500px;
}

.search_form li {
  list-style: none;
}

body .search_form .chzn-container .chzn-drop {
	width:500px !important;
}

.search_form fieldset#calendar_filter {
	margin-left:10px;
	padding:0 20px;
}

.search_form input[type=submit] {
	clear:both;
	float:right;
	margin-top:20px;
}

.order_action {
	overflow:hidden;
	padding-bottom:10px;
}

.order_action div {
	float:left;
	width:50%;
}

.order_action .select_all_none,.order_action .submit {
	width:25%;
}

/***************************************
tabs
***************************************/
ul.tabs {
	border-bottom:1px solid #ccc;
	margin:0 0 15px;
	overflow:hidden;
	padding:0;
}

ul.tabs li {
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	float:left;
	line-height:32px;
	overflow:hidden;
}

ul.tabs li.first {
	border-left:1px solid #ccc;
}

ul.tabs li a.active {
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top center , #eeeeee, #dddddd);
	background-repeat: no-repeat;
	color:#000;
	text-decoration:none;
}


ul.tabs li a {
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #f5f5f5);
	background-repeat: no-repeat;
	color:#666;
	padding:10px 8px;
}

ul.tabs .updating,
ul.tabs .updated {
	display: inline-block;
	width: 16px;
	height: 16px;
    margin-left: 0.4em;
    margin-right: 4px;
    text-decoration: none;
}
ul.tabs .updating {
	background-image: url(../images/spinner-arrow.gif);
	position: relative;
	top: 3px;
}
ul.tabs .updated {
	padding-bottom: 4px;
}


/***************************************
billing
***************************************/
#header_billing {
	background:url(../images/bg-search-form.jpg) top right repeat-y;
	border-top:1px solid #ccc;
	padding-top:10px;
}

#table_billing {
	border-top:1px solid #ccc;
	padding-top:10px;
}

#filtering_billing {
	border-bottom:1px solid #ccc;
	border-left:4px solid #ccc;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	overflow:hidden;
}

.currency,.currency input,.order_action .submit {
	text-align:right;
}

.borderless,.borderless td {
	border:none;
}

ul.form li.clear,table ul,.search_form fieldset li .chzn-container,.search_form fieldset li .chzn-container input {
	margin:0;
}

.margin_bottom, ul.form > li {
	margin-bottom:15px;
}

.bold,#breadcrumb ul li a,ul.tabs li a.active {
	font-weight:700;
}

#sidebar ul li a.active,#sidebar ul li a:hover,#sidebar li.sub_menu:hover {
	color:#000;
	font-weight:700;
}

#sidebar #menu_billing ul ul,ul.form li p {
	margin-bottom:0;
}

.search_form fieldset li,#table_billing .pagination {
	margin-bottom:10px;
}

.order_num_width {
	width:75px;
}

.ordered_on_width {
	width:130px;
}

/***
 * Popup calendar
 */

.ui-datepicker-calendar thead span {
    color: black;
}

/***
 * Dialog boxes
 */
.ui-dialog input[disabled] {
	opacity: 0.3;
	cursor: default;
}
/***
 * Order detail
 */
#cancel-fee-opt {
    display: none;
    margin-top: 1em;
    width: 76%;
}

#cancel-fee-opt label {
    float: right;
}

#order_detail_edit {
    margin-top: 1.5em;
}

/***
 * Order
 */
#product_add_quantity {
    width: 3em;
    height: 19px;
}

.edit_order .chzn-container-single .chzn-single {
    height: 24px;
}

#send_receipt_btn {
    width: 122px;
    float: right;
    margin-top: 3.5em;
}

#product_add_btn {
    margin-left: 0;
    margin-top: 1em;
}

#merge-orders p {
    margin-top: 4em;
}


/***
 * Product listing
 ***/

.price_policy_error {
	display: block;
	float: right;
	color: red;
}

/***
 * Reservations
 */

#pick_accessories_dialog .notice {
    color: black;
}

#pick_accessories_dialog input[type=submit] {
    margin-top: 1em;
}

#pick_accessories_dialog table tr,
#pick_accessories_dialog table td {
    border: none;
}

.product_quantity {
	width: 3em;
	margin-right: 0.5em;
}

#choose-account-frm input[type=radio] {
    display: block;
    margin: 0 auto;
}

/*.reservations tr.current {
	background-color: #DDFFDD;
}*/

.copy_actual_from_reservation {
  margin-top: 1.5em;
}
.copy_actual_from_reservation .start_date,
.copy_actual_from_reservation .end_date {
  display: none;
}

/***
 * Bulk Email
 ***/
#bulk_email fieldset {
  float: none;
  margin: 1em 0;
}
#dates_between li {
  float: left;
  margin: 0 1em 0 0;
}
#user_types label {
  display: inline;
}
#bulk_email.search_form input[type="submit"] {
  float: none;
  margin-top: 0;
}
.results_header {
  border-top: 1px solid #CCCCCC;
  padding: 1em 0;
}
#bulk_email_export {
  float: right;
}


/***
 * Notifications
 ***/

#notifications li {
    padding: 2em 0;
    margin-bottom: 2em;
    text-align: center;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #888;
}

.dismiss-notice {
    margin-left: 5em;
}


/***
 * Bulk import
 ***/

#bulk-import h2 {
  margin-top: 1em;
}

#bulk-import form, #bulk-import-template {
  width: 20%;
  margin: 0 auto;
}

#bulk-import label {
  margin: .5em 0;
}

#bulk-import .btn {
  margin: 1em 0 0 3em;
}

#bulk-import input[type=file] {
  margin-bottom: 1em;
}

#bulk-import-template {
  display: block;
  margin-top: 3em;
}

