#nav ul {
  line-height: 1;
  margin: -5px 0 0 0;
  *margin: 0 0 0 0;
}

#nav a {
  color:#000000;
  display:block;
  padding-top:3px;
  text-decoration:none;
}

#nav a:hover {
  text-decoration:underline;
}

#nav li.active {
  font-weight:700;
}

#nav li.first {
  padding:20px 0 0;
  width:2px !important;
}

#nav li.active, #nav li:hover {
  background:url("../images/bg-li-mixed.jpg") repeat-x scroll right top transparent;
}

#nav li {
  background:url("../images/bg-li-mixed.jpg") repeat-x scroll right -51px transparent;
  float:left;
  height:30px;
  list-style-type:none;
  padding:20px 20px 0;
}

#nav li li {
  background:none repeat scroll 0 0 #F5F3F4;
  border-left:1px solid #C1C1C1;
  border-right:1px solid #C1C1C1;
  border-bottom:1px solid #C1C1C1;	
  left:-15px;
  position:relative;
	margin:0;
}

#nav li.right li a {
	margin-top:6px;
}

#nav .subnav li {
    padding-top: 16px;
}

#nav li li:hover {
  background:none repeat scroll 0 0 #c1c1c1;
}

#nav li ul {
  left:-999em;
  padding-top:16px;
  position:absolute;
	margin:1px 0 0 0;
	z-index:999999;
}

#nav li.active li {
  font-weight:normal;
}

#nav li.nav_header {
  border-bottom:1px solid #333333;
  font-weight:700;
}

#nav li.nav_header:hover {
  background:none repeat scroll 0 0 transparent;
}

#nav li li {
  float:none;
}

#nav li ul ul {
  margin:-22px 0 0 175px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
  left:-999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
  left:auto;
}

#nav li.right {
  float:right;
  font-weight:700;
  text-align:right;
}

#nav li.right:hover ul {
  margin-left:-151px;
  padding-top:16px;
  right:auto !important;
  width:300px;
}

#nav li.right li {
  padding:5px 20px;
  width:auto;
}
