#header {
	
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 99%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  border-bottom: 1px solid #CCCCCC;
	color:#000;
	/* UIC Color  background:#25557F;*/
	/* UIC Color  color:#fff;*/
	height:60px;
	line-height:55px;
}

#header a {
	/* Base Color */ color:#000;
}

#header ul {
	line-height:60px;
	margin:0;
	text-align:right;
}

#header ul li {
	border-right:1px solid #000;

	/* Nucore Colors border-right:1px solid #6F297E; */
	
	/* UIC Colors border-right:1px solid #ffffff; */
	display:inline;
	padding:0 10px;
}

#header ul li.last {
	border-right:none;
	padding-right:0;
}

#nav {
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #f5f5f5);
	background-repeat: no-repeat;
	border-bottom:1px solid #ddd;
	color:#333;
	font-size:13px;
	height:51px;
	line-height:normal;
	padding:0 10px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
}

#nav ul {
	line-height:1;
	margin:0;
	position:relative;
	top:-5px;
}

#nav a {
	color:#000;
	display:block;
	text-decoration:none;
}

#nav a:hover {
	text-decoration:underline;
}

#nav li.active {
	font-weight:700;
}

#nav li {
	border-top:5px solid transparent;
	cursor:pointer;
	float:left;
	list-style-type:none;
	padding:15px 0;
}

#nav li .divider {
	border-right:1px solid #ddd;
	padding:0 10px;
	height:20px;
	line-height:18px;
}

#nav li a {
}

#nav li:hover,#nav li.active {
	border-top:5px solid #666;
}

#nav li.right li a {
	margin-top:6px;
}

#nav li ul {
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	left:-999em;
	margin:61px 0 0 -10px;
	position:absolute;
	z-index:999999;
}

#nav li.active li {
	font-weight:400;
}

#nav li.nav_header {
	border-bottom:1px solid #333;
	font-weight:700;
}

#nav li.nav_header:hover {
	background:none repeat scroll 0 0 transparent;
}

#nav li li {
	background:none repeat scroll 0 0 #F5F3F4;
	border-bottom:1px solid #ddd;
	border-top:none;
	float:none;
	position:relative;
	padding:3px;
}

#nav li li:hover {
	border-top:none;
}

#nav li li a {
	padding:10px;
}

#nav li ul ul {
	margin:-22px 0 0 175px;
}

#nav li li a:hover {
	background:#ddd;
}

#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li.sfhover ul ul,#nav li.sfhover ul ul ul {
	left:-999em;
}

#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li.sfhover ul,#nav li li.sfhover ul,#nav li li li.sfhover ul {
	left:auto;
}

#nav li.right {
	float:right;
	font-weight:700;
	text-align:right;
}

#nav li.right:hover ul {
	margin-left:-151px;
	right:auto !important;
	width:300px;
}

#nav li.right li {
	padding:5px 20px;
	width:auto;
}

#nav li .dropdown {
	background:url(../images/bg-dropdown.png) top right no-repeat;
	display:block;
	float:left;
	height:20px;
	width:15px;
}

#nav .button_text {
	float:left;
}