#control {
    float: right;
}

#filter {
    float: left;
}

#filter input[type='text'] {
    margin-top: 3px;
}

.options li {
    float: left;
    padding-right: 10px;
}

.options li label {
    padding-left: 2px;
}

.options input.btn {
    margin-top: .7em;
}

.options ul {
    display: none;
    position: absolute;
    z-index: 2;
    width: 62px;
}

button {
    margin-top: 1em;
}

#tabs {
    clear: both;
}

#error-msg {
    display: none;
}

#tabs .ui-widget-content {
    color: black;
    background-color: white;
}

.ui-widget {
    border-radius: 0 !important;
}

