#ui-datepicker-div { display: none; }

.timeline {
  background:url(../images/timeline.png) no-repeat;
  display:block;
  height:44px;
  position:relative;
  margin-top:5px;
  width:865px;
  z-index:9999;
}

.unit_container {
  bottom:19px;
  display:block;
  left:0;
  height:44px;
  position:absolute;
  width:100%;
  z-index: 20;
}

body .unit {
  cursor:pointer;
  display:inline-block;
  height:30px;
  position:absolute;
  top: 46px;
  z-index: 20;
}

.unit.ui-draggable-dragging {
  z-index:99999;
}

.unit.invalid {
  opacity: 0.5;
}

/* Default block is green-NEW */
.unit {
  background-color: #3a7e31;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(58, 126, 49)), to(rgb(92, 154, 91)));
  background-image: -webkit-linear-gradient(top, rgb(58, 126, 49), rgb(92, 154, 91));
  background-image: -moz-linear-gradient(top, rgb(58, 126, 49), rgb(92, 154, 91));
  background-image: -o-linear-gradient(top, rgb(58, 126, 49), rgb(92, 154, 91));
  background-image: -ms-linear-gradient(top, rgb(58, 126, 49), rgb(92, 154, 91));
  background-image: linear-gradient(top, rgb(58, 126, 49), rgb(92, 154, 91));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3a7e31', EndColorStr='#5c9a5b');
  border-right: 1px solid #5c9a5b;
}
.unit:hover {
  box-shadow: 0 0 10px #3a7e31;
}

.unit.status_cancelled {
  background-color: #772311;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(119, 35, 17)), to(rgb(165, 52, 27)));
  background-image: -webkit-linear-gradient(top, rgb(119, 35, 17), rgb(165, 52, 27));
  background-image: -moz-linear-gradient(top, rgb(119, 35, 17), rgb(165, 52, 27));
  background-image: -o-linear-gradient(top, rgb(119, 35, 17), rgb(165, 52, 27));
  background-image: -ms-linear-gradient(top, rgb(119, 35, 17), rgb(165, 52, 27));
  background-image: linear-gradient(top, rgb(119, 35, 17), rgb(165, 52, 27));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#772311', EndColorStr='#a5341b');
  border-right: 1px solid #a5341b;
}
.unit.status_cancelled:hover {
  box-shadow: 0 0 10px #a5341b;
}

.unit.status_complete {
  background-color: #3a6d88;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(58, 109, 136)), to(rgb(92, 133, 155)));
  background-image: -webkit-linear-gradient(top, rgb(58, 109, 136), rgb(92, 133, 155));
  background-image: -moz-linear-gradient(top, rgb(58, 109, 136), rgb(92, 133, 155));
  background-image: -o-linear-gradient(top, rgb(58, 109, 136), rgb(92, 133, 155));
  background-image: -ms-linear-gradient(top, rgb(58, 109, 136), rgb(92, 133, 155));
  background-image: linear-gradient(top, rgb(58, 109, 136), rgb(92, 133, 155));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3a6d88', EndColorStr='#5c859b');
  border-right: #5c859b;
}
.unit.status_complete:hover {
  box-shadow:0 0 10px #3a6d88;
}

/* Tall blocks */
.unit.blackout, 
.unit.admin {
  display:inline-block;
  height:23px;
  opacity:0.5;
  top:16px;
  width:110px;
  z-index: 10;
  border-radius: 3px 3px 0 0;
  border: none;
  box-shadow: none;
}

.unit.blackout {
  background:#ccc;
  border-top:5px solid #000;
}

.unit.admin {
  background: #ECC;
  border-top:5px solid #F00;
}

.current_time {
  background:#f00;
  display:inline-block;
  height:35px;
  opacity:.4;
  position:relative;
  top:-9px;
  width:2px;
  z-index: 0;
}

/* tooltip_reservation should be hidden until it gets pulled into the popup */
.tooltip_reservation {
  display: none;
}

.tooltipsy {
  padding: 5px;
  max-width: 200px;
  color: #303030;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius : 5px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  text-shadow: none;
}

.current_time.hour_0 { left:-16px}
.current_time.hour_1 { left:19px}
.current_time.hour_2 { left:55px}
.current_time.hour_3 { left:91px}
.current_time.hour_4 { left:127px}
.current_time.hour_5 { left:163px}
.current_time.hour_6 { left:199px}
.current_time.hour_7 { left:235px}
.current_time.hour_8 { left:271px}
.current_time.hour_9 { left:307px}
.current_time.hour_10 { left:374px}
.current_time.hour_11 { left:379px}
.current_time.hour_12 { left:415px}
.current_time.hour_13 { left:451px}
.current_time.hour_14 { left:487px}
.current_time.hour_15 { left:523px}
.current_time.hour_16 { left:559px}
.current_time.hour_17 { left:595px}
.current_time.hour_18 { left:631px}
.current_time.hour_19 { left:667px}
.current_time.hour_20 { left:707px}
.current_time.hour_21 { left:739px}
.current_time.hour_22 { left:775px}
.current_time.hour_23 { left:811px}

.timeline_date {
  border-bottom:1px solid #ddd;
  overflow:hidden;
  padding-bottom:20px;
}

.timeline_instrument {
  margin:15px 0;
  padding-left:40px;
}

.timeline_current_date {
  float:left;
  font-size:18px;
}

.timeline_change_date {
  float:right;
}