:javascript
  $(document).ready(function() {
    $("input#user_email").keyup(function(e) {
      $("input#user_username").val(this.value);
    });

    $("input#user_email").change(function(e) {
      $("input#user_username").val(this.value);
    });
  });
