= content_for :h1 do
  = t("pages.change_password")
= error_messages_for :user      
= form_tag change_password_path do
  .password
    =label_tag :password
    =password_field_tag :password
    =label_tag :password_confirmation
    =password_field_tag :password_confirmation
  =submit_tag 