= error_messages_for :user      
%h1 Change Password
= form_tag change_password_path do
  =label_tag :password
  =text_field_tag :password
  =label_tag :password_confirmation
  =text_field_tag :password_confirmation
  =submit_tag 