:javascript
  window.onload = function() {
    Formio
      .createForm(document.getElementById('formio'), '#{@formio_url}')
      .then(function(form) {
        form.on('submitDone', function(submission) {
          var surveyUrl = encodeURIComponent('#{@formio_url}');
          var orderDetailData = {
            order_detail: submission.data,
            survey_url: surveyUrl,
            survey_edit_url: surveyUrl
          }

          jQuery.ajax({
            type: "post",
            data: orderDetailData,
            url:  "#{raw @redirect_url}",
            timeout: 25000
          });

        });
      });
  };
