:javascript
  window.onload = function() {
    Formio
      .createForm(document.getElementById('formio'), '#{@formio_url}')
      .then(function(form) {
        var surveyUrl = "#{raw @formio_url}/submission/"
        var surveyCompleteUrl = "#{raw @redirect_url}"
        var prefillData = #{raw @prefill_data.to_json}
        handleFormioSubmission(form, surveyUrl, surveyCompleteUrl, prefillData)
      })
  };
