%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Account.model_name.human
      %th.centered= Facility.model_name.human
  %tbody
    - @accounts.each do |account|
      %tr
        %td= payment_source_link_or_text(account)
        %td{style: "padding-left: 50px"}
          = account.facility || "<i>All</i>".html_safe
