- if session[:reservation_auto_logout]
  - session.delete(:reservation_auto_logout)
  .modal.hide.fade#logout_modal
    .modal-body= t("reservations.logout.body")
    .modal-footer
      = link_to t("reservations.logout.cancel"), reservations_path, class: "btn"
      = link_to t("pages.logout"),
        sign_out_user_path,
        class: "btn btn-primary logout"
