.ft
  .grid_4
    %p= image_tag "/images/logo-nu.jpg", :alt => t(".logo_alt")
  .grid_8.text_right
    %p= t ".copyright_html", :to_date => Date.today.year > 2010 ? "&ndash;#{Date.today.year}".html_safe : ''
  
