- links = []
- links.push({ :url => root_path, :text => 'Home', :tab_name => 'home' })
- if !acting_user.nil? and customer_tab?
  - links.push({ :url => url_for(:controller => '/orders'), :text => 'My Orders', :tab_name => 'orders' })
  - links.push({ :url => accounts_path, :text => 'My Payment Sources',:tab_name => 'accounts' })
- if current_facility and admin_tab?
  - if current_user.operator_of?(current_facility)
    - links.push({:url => facility_orders_path(current_facility),    :text => 'Orders',   :tab_name => 'admin_orders'})
    - links.push({:url => facility_accounts_path(current_facility), :text => 'Billing',  :tab_name => 'admin_invoices'})
    - links.push({:url => facility_products_path(current_facility),   :text => 'Products', :tab_name => 'admin_products'})
    - links.push({:url => facility_users_path(current_facility),      :text => 'Users',    :tab_name => 'admin_users'})
    - reports_sub=[{:url => product_order_summary_facility_reports_path, :text => 'Product Order Summary'},
                   {:url => instrument_utilization_facility_reports_path, :text => 'Instrument Utilization'}]
    - links.push({:url => product_facility_reports_path,    :text => 'Reports',  :tab_name => 'admin_reports', :subnav => reports_sub})
    - if current_user.manager_of?(current_facility)
      - links.push({:url => manage_facility_path(current_facility), :text => 'Admin', :tab_name => 'admin_facility'})
.container_12
  .grid_12
    %ul
      %li.first
      - links.each do |link|
        %li{:class => !controller.active_tab.nil? && controller.active_tab == link[:tab_name] ? 'active' : ''}
          = link_to link[:text], link[:url]
          - if link[:subnav]
            %ul.subnav
              - link[:subnav].each do |sub_links|
                %li= link_to sub_links[:text], sub_links[:url]

      - facilities = manageable_facilities
      - if !acting_as? && (!facilities.empty? || (current_user && current_user.administrator?))
        %li.right{:class => !controller.active_tab.nil? && controller.active_tab == 'manage_facilites' ? 'active' : ''}
          = link_to "Manage Facilities", :list_facilities
          - unless facilities.empty?
            %ul.subnav
              - facilities.each do |facility|
                %li= link_to facility.name, facility_orders_path(facility)

        %li.right.first
  .clear
