-# .visible-with-nav is visible > 979px
.navbar.navbar-static-top.hide-from-print.visible-with-nav
  .navbar-inner
    .container
      - if session_user
        = render "/shared/nav/nav_links"
      - else
        = form_tag global_search_path, class: "navbar-search pull-right visible-with-nav" do
          = text_field_tag :search, nil, placeholder: t("global_search.search"), class: "search-query span2", aria: { label: t("global_search.search") }
