%ul.nav.nav-tabs
  = tab t('shared.tabnav_account.details'), account_path(@account), (secondary_tab == 'details')
  = tab t('shared.tabnav_account.transact'), transactions_account_path(@account), (secondary_tab == 'transactions')
  - if @facility && !@account.is_a?(NufsAccount)
    = tab t('shared.tabnav_account.statement'), account_facility_statement_path(@account, @facility, 'list'), (secondary_tab == 'statements')
  = tab t('shared.tabnav_account.members'), account_account_users_path(@account), (secondary_tab == 'members')
