.az_list
  - @azlist.to_a.map.with_index do | value, index|
    - if value[1].any?
      %a.az_listing.js--az_listing{:class=>get_classname_for_facility(index, value[0])} 
        = value[0]
    - else
      %p.az_listing= value[0]
          
  %a.az_listing.js--az_listing.all 
    = text("views.facilities.index.all_short")
    - if @recently_used_facilities.present?
      %a.az_listing.js--az_listing.recent
        = text("views.facilities.index.recently_used_short")
