- collection = product_display_group.products.merge(@product_scope)
- if collection.present?
  .product_list{ class: classes }
    %h3= product_display_group
    %ul
      = render partial: "product", collection: collection, locals: { f: local_assigns[:f] }
