- unless products.empty?
  %h3= products.first.class.model_name.human.pluralize
  %ul
    - products.sort.each do |product|
      %li
        - 
        = link_to(product.name + (product.is_hidden? ? ' (hidden)' : ''), facility_product_path(current_facility, product))
        = " (#{product.class.human_attribute_name(:requires_approval)})" unless product.is_approved_for?(acting_user)