- if @recently_used_facilities.present?
  %h3.facility_listing.js--facility_listing.recent= text("title")
  %ul.unstyled
    - @recently_used_facilities.each do |facility|
      %li.facility_listing.js--facility_listing.recent
        = link_to facility, facility_path(facility)
