- if @recently_used_facilities.present?
  %h4.facility_listing.js--facility_listing.recent= text("title")
  - @recently_used_facilities.each do |facility|
    .facility_listing.js--facility_listing.recent
      %h4.header-tight= link_to facility, facility_path(facility)
