- content_for :h1 do
  Facilities

%p.box
  Welcome to NU Core, the centralized ordering system for all Shared Facilities at Northwestern University.
  Please select the Shared Facility below to view and purchase services and products offered by the facility.
- if @facilities.empty?
  %p.notice No facilities are available at this time.
- @facilities.sort.each do |facility|
  %h3= link_to h(facility), facility_path(facility)
  %p=h facility.short_description
