= content_for :h1 do
  Manage Facilities

- if current_user.administrator?
  %p= link_to 'Add Facility', new_facility_path, :class => 'btn-add'

- if @facilities.any?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th== Name
        %th== Status
    %tbody
      - @facilities.sort.each do |facility|
        %tr
          %td= link_to h(facility), facility_default_admin_path(facility)
          %td= facility.status_string
