- if order_detail.cross_core_for_originating_facility?
  %br
  %i.fa.fa-users{ data: { toggle: "tooltip" }, title: t(".tooltip", facility: order_detail.order.cross_core_project.facility.abbreviation)}
