- if @order_detail_action
  = form_tag url_for(params.merge({:action => @order_detail_action})), :method => :post do |f|
    = render :partial => 'shared/transactions/table_inside'
- else
  = render :partial => 'shared/transactions/table_inside'
  
  