%div[reservation, :tooltip]
  - if public_timeline?
    %span= reservation_date_range_display(@display_date, reservation)
  - else
    = render partial: 'shared/timeline/facility_tooltip', locals: { reservation: reservation }
