= render :partial => 'orders/product_description', :locals => { :order_detail => order_detail }

.order-action
  - if order_detail.reservation
    = link_to order_detail.reservation, edit_order_order_detail_reservation_path(order_detail.order, order_detail, order_detail.reservation)
  - else
    = link_to 'Make a Reservation', new_order_order_detail_reservation_path(order_detail.order, order_detail)