= content_for :h1 do
  My Orders

- if @order_details.empty?
  %p.notice You have not placed any orders.
- else
  =render :partial => 'shared/order_details_table', :locals => { :order_details => @order_details }