= content_for :h1 do
  = t(".results")

- if @searchers.map(&:results).all?(&:empty?)
  .notice= t(".no_results")

- @searchers.each do |searcher|
  = render searcher.template, results: searcher.results if searcher.results.any?
