defaults: &defaults
  adapter: oracle_enhanced
  username: nucore_open_development
  password: password
  database: <%= ENV['ORACLE_1_PORT_1521_TCP_ADDR'] || 'dockerhost' %>:<%= ENV['ORACLE_1_PORT_1521_TCP_PORT'] || 1521 %>/xe

development:
  <<: *defaults
  username: nucore_open_development
  password:

test:
  <<: *defaults
  username: nucore_open_test
  password:
