defaults: &defaults
  adapter: oracle_enhanced
  username: nucore_open_development
  password: password
  database: localhost:1521/xe

development:
  <<: *defaults
  username: nucore_open_development
  password: password

test:
  <<: *defaults
  username: nucore_open_test
  password: password
