defaults: &defaults
  adapter: oracle_enhanced
  database: (DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCLCDB.localdomain)))
  encoding: utf8
  password: password

development:
  <<: *defaults
  username: "c##nucore_open_development"

test:
  <<: *defaults
  username: "c##nucore_open_test"
