# Config file for local LDAP settings.
#
# Required settings:
#   'host' => Host of local LDAP server
#   'port'  => Port of local LDAP server (usually port 389)
#   'base' => Base Distinguished Name (Base DN)
#
development:
  host: <%= LDAP_PORT_389_TCP_ADDR %>
  port: <%= LDAP_PORT_389_TCP_PORT %>
  base: dc=example,dc=org
  attribute: cn
  admin_user: "cn=admin,dc=example,dc=org"
  admin_password: admin
