# Config file for local LDAP settings.
#
# Required settings:
#   'host' => Host of local LDAP server
#   'port'  => Port of local LDAP server (usually port 389)
#   'base' => Base Distinguished Name (Base DN)
#
development:
  host: <%= ENV.fetch("LDAP_HOST", "localhost") %>
  port: <%= ENV.fetch("LDAP_PORT", 389) %>
  base: dc=example,dc=org
  attribute: uid
  admin_user: "cn=admin,dc=example,dc=org"
  admin_password: admin
