.row
  .well.span12
    .container
      .row
        .span6
          = simple_fields_for @order do |order_fields|
            = order_fields.input :account,
              collection: accounts,
              input_html: { name: "order_account" },
              include_blank: true,
              selected: selected_account_id

        - if acting_as?
          .span6= f.input :note
