.row
  .well.span12
    .container
      .row
        .span6
          = simple_fields_for @order do |order_fields|
            - accounts = @order.user.accounts_for_product(@instrument)

            - selected_account_id = @order.account_id || params[:order_account]
            - if selected_account_id.blank? && accounts.count == 1
              - selected_account_id = accounts.first.id

            = order_fields.input :account,
              collection: accounts,
              input_html: { name: "order_account" },
              prompt: t(".prompt"),
              selected: selected_account_id

        - if acting_as?
          .span6= f.input :note
