.row
  .well.span12
    .container
      .row
        .span6
          = simple_fields_for @order do |o|
            = o.input :account, :collection => @order.user.accounts_for_product(@instrument), :input_html => { :name => 'order_account' }
        - if acting_as?
          .span6= f.input :note

-# %ul.form.box
-#   %li.left
-#     = label_tag 'order_account', t('.label')
-#     - options=@order.user.accounts_for_product @instrument
-#     - options.collect!{|acct| [acct.to_s ,acct.id] }
-#     - options.unshift(Array.new(2)) if options.size > 1
-#     = select_tag 'order_account', options_for_select(options, @order.account_id)
-#   - if acting_as?
-#     %li.left
-#       = f.label       :note
-#       = f.text_field  :note, :size => 100, :maxlength => 100
-#   %li.clear
