.timeline_instrument[instrument]
  %h4
    = link_to instrument, facility_instrument_path(current_facility, instrument)
    = warning_if_instrument_is_offline_or_partially_available(instrument)

  .timeline
    .unit_container
      = render partial: "reservation",
        collection: (@reservations_by_instrument.fetch(instrument, []) + instrument.blackout_reservations(@display_datetime)),
        as: :reservation,
        locals: { product: instrument }

      - if @display_datetime.beginning_of_day == Time.current.beginning_of_day
        .current_time{style: "left: #{datetime_left_position(@display_datetime, Time.current)}"}
