.datetime-block
  - start_disabled = f.object.persisted? && !f.object.reserve_start_at_editable?
  = f.input :reserve_start_date, :input_html => { :class => 'datepicker', disabled: start_disabled }
  .control-group
    .controls
      .string.optional.control-label &nbsp;
      = time_select f, :reserve_start, { minute_step: @instrument.reserve_interval }, disabled: start_disabled

  = f.input :duration_mins, input_html: { value: default_duration, class: 'timeinput', disabled: (f.object.persisted? && !f.object.reserve_end_at_editable?) }
