.datetime-block
  = f.input :reserve_start_date, :input_html => { :class => 'datepicker' }
  .control-group
    .controls
      = f.label '&nbsp;'
      = time_select f, :reserve_start
  = f.input :duration_mins, :input_html => { :class => 'timeinput' }
