- if schedule.publicly_visible_products.size > 1
  .timeline-schedule
    %h3= schedule.name
    = render partial: "shared/timeline/instrument", collection: schedule.publicly_visible_products, as: :instrument
- else
  .timeline-single
    = render partial: "shared/timeline/instrument", collection: schedule.publicly_visible_products, as: :instrument
