= content_for :h1 do
  My Reservations
- @available_statuses.each do |status|
  - if (params[:status] == status)
    %strong= status.humanize
  - else
    = link_to status.humanize, reservations_status_path(:status => status)
  
- if @order_details.empty?
  %p.notice You have not made any reservations.
- else
  = render :partial => 'shared/reservations_table', :locals => { :order_details => @order_details } 

