= content_for :h1 do
  = @reservation.instrument.facility

%h2= @reservation.instrument

%ul
  %li
    %label Reservation
    %p=h @reservation
  %li
    %label Actual Usage
    %p=h @reservation.actuals_string