= content_for :h1 do
  = @reservation.product.facility

%h2= @reservation.product

%ul
  %li
    %label Reservation
    %p=h @reservation
  %li
    %label Actual Usage
    %p=h @reservation.actuals_string