%p== Pricing policies apply to orders placed by the the following users:
%ul
  %li= link_to 'Add User', new_facility_price_group_user_price_group_member_path(current_facility, @price_group)

- if @user_members.empty?
  %p.notice No users have been added to this price group.
- else
  %table
    %tr
      %th
      %th== Name
      %th== Username
      %th== Email
    - @user_members.each do |user_price_group_member|
      %tr{:class => cycle(:odd, :even)}
        %td= link_to 'Remove', [current_facility, @price_group, user_price_group_member], :confirm => 'Are you sure?', :method => :delete
        %td=h user_price_group_member.user.full_name
        %td=h user_price_group_member.user.username
        %td=h user_price_group_member.user.email
  = will_paginate(@user_members)


