= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'reconcile' }

%h2 Reconcile Journals
%h3 Closed Journals
- if @journals.empty?
  %p.notice No journals have been closed yet
- else
  %table
    %tr
      %th
      %th Created At
      %th Journal Date
      %th Reference
      %th Status
    - @journals.each do |j|
      %tr
        %td.centered= link_to 'View', facility_journal_path(current_facility, j)
        %td=h human_datetime(j.created_at)
        %td=h human_date(j.journal_date)
        %td=h j.reference
        %td=h j.status_string
