- content_for :h1 do
  =h current_facility

- content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'reconcile' }

%h2== Journal ##{@journal} Details
%ul.form
  %li
    %label Created At
    =h human_datetime @journal.created_at
  %li
    %label Created By
    =h @journal.created_by_user
  %li
    %label Journal Date
    =h human_date @journal.journal_date
  %li
    %label Journal Status
    =h @journal.status_string
  %li=link_to 'Download XLS File', @journal.file.url
  %li=link_to 'Download XML File', facility_journal_path(current_facility, @journal, :format => 'xml')

%br
%hr
%br

%h2 Reconcile Orders
%p
  Orders on this page reflect updates made to orders since journaling.  To view the journal as originally
  submitted, you may download the XLS or XML journal for reference
- if @journal.open?
  %p The journal is pending.  No changes can be made to any of the orders on the journal until the journal is closed.
- elsif !@journal.is_successful?
  %p The journal failed processing.  All orders that were associated with the journal have been removed from the journal so they may be re-journaled. 
- elsif @journal.is_successful? && @journal.is_reconciled?
  %p The journal was processed successfully and all orders associated with the journal have been reconciled.  No further changes may be made to the journal or the associated orders.
- else
  %p
    The journal was processed successfully, but individual orders must be reconciled.  Please update any orders to reflect changes made
    to the journal after the journal was submitted.  Once an order has been updated to reflect the necessary changes, you should mark that
    order as reconciled.
- if @order_details.empty?
  %p.notice No orders are associated with this journal
- else
  %table
    %tr
      %th
      %th Order
      %th Fulfilled At
      %th Total
      %th Is Reconciled
    - @order_details.each do |od|
      - disable = od.reconciled? || journal.open?
      %tr
        %td= check_box_tag "order_detail_ids[]", od.id, (od.reconciled? ? true : false), {:disabled => (od.reconciled? ? true : false)}
        %td
          %ul
            %li=h od
            - unless od.note.blank?
              %li=h od.note
        %td=h human_datetime(od.fulfilled_at)
        %td=h number_to_currency od.total
        %td=h od.reconciled? ? 'Yes' : 'No'
