.row.table-actions.form-horizontal
  .span2.select_all_none= link_to(local_assigns[:starting] == :all ? "Select All" : "Select None", "", class: "select_all")

  - if local_assigns[:date]
    .span5.control-group.fields
      %label.control-label{ for: :reconciled_at }= OrderDetail.human_attribute_name(:reconciled_at)
      .controls
        = text_field_tag :reconciled_at, format_usa_date(Time.current), class: :datepicker__data, data: { min_date: unreconciled_order_details.map(&:journal_or_statement_date).min.to_s, max_date: Time.current.iso8601 }

  .span1.pull-right= submit_tag t("facility_journals.show.submit"), class: ["btn", "btn-primary"]
