.chosen-container {
  font-size: 90%;

  .chosen-results {
    li {
      border-bottom: 1px solid #EEE;
    }

    /*
      Override the default Chosen behavior of graying-out disabled options. Their
      arguments for it make sense as the default, but this maintains our existing
      behavior. https://github.com/harvesthq/chosen/issues/488
    */
    li.disabled-result {
      display: none;
    }
  }
}
