.facility_list_container.tile{
    display:flex;
    flex-wrap: wrap;
    justify-content: left; 
}
.facility_listing.tile{
    flex: 1 1 calc(33% - 10px);
    height: 300px;
    min-width: 250px;
    margin-right:10px;
}
.thumbnailFallback{
    width: 100%;
    height: 50%;
    position: relative;
    text-decoration: none;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgb(110, 110, 110);
}
.thumbnailFallback:hover{
    color: rgb(71, 71, 71);
}
.facility_listing.tile a{
    text-decoration: none;
}