.facility_list_container.tile{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    
}
.facility_listing.tile{
    flex: 1 0 calc(33% - 10px);
    min-width: 250px;
    margin-right:10px;
}