/* define fonts */
@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: font-url('Inter-UI-Regular.woff2') format('woff2'),
  font-url('Inter-UI-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: font-url('Inter-UI-Medium.woff2') format('woff2'),
  font-url('Inter-UI-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: font-url('Inter-UI-Bold.woff2') format('woff2'),
  font-url('Inter-UI-Bold.woff') format('woff');
}

/* use them */
$sansFontFamily: 'Inter UI', sans-serif;
