/*
 header
*/

header {

  .navbar {
    .brand {
      font-family: $headerFont;
      text-decoration: none;
      text-shadow: none;
      font-size: 27px;
      color: $headerColor;

      padding: 17px 20px 16px;

      .img__brand {
        height: 1em;
      }

      span {
        vertical-align: middle;
        line-height: 1;
      }
    }
  }

  .navbar-inner, .dropdown-toggle {
    @include gradient-vertical($headerBackgroundColorHighLight, $headerBackgroundColor);
  }

  .container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-flow: wrap;
  }

  .container:before, .container:after {
    content: none;
  }

  .navbar .nav {
    .divider-vertical {
      border-right: none;
      border-left: 1px solid $usernavDividerColor;
    }
    > li > a {
      color: $usernavColor !important;
      text-shadow: none;
      padding: 10px 0;

      &:hover {
        color: $usernavColorHover !important;
      }
    }

    > .navbar-text {
      color: $usernavColor;
    }
  }

  &.account {
    h3 {
      line-height: 1em;
    }
    h3, p {
      margin-bottom: 0;
      margin-top: 0;
    }
    margin-bottom: 1em;
  }
}

