.reports-form {
  #control {
    float: right;
  }

  #filter {
    float: left;
  }

  .field-clarifier {
    line-height: 70px;
  }

  .chosen-choices {
    height: 3em;
  }

  .reportForm__downloads a {
    display: block;
    padding-top: 2.3em;
  }

  .reportForm > li {
    float: left;
    padding-right: 10px;
  }

  #tabs {
    clear: both;
  }

  #error-msg {
    display: none;
  }

  #tabs .ui-widget-content {
    color: black;
    background-color: white;
  }

  .pagination {
    text-align: center;
  }

  .pagination a {
    color: blue !important;
  }

  .ui-widget {
    border-radius: 0 !important;
  }

  .updating {
    background-image: image-url("spinner-arrow.gif");
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
  }
}
