.reports-form {
  #control {
    float: right;
  }

  #filter {
    float: left;
  }

  .options {
    margin-top: 1em;
  }

  .options a {
    display: block;
    padding-top: 23px;
  }

  .options a:hover {
    text-decoration: underline;
  }

  .options li {
    float: left;
    padding-right: 10px;
  }

  .options li label {
    padding-left: 2px;
  }

  .options ul {
    display: none;
    z-index: 2;
  }

  .chzn-container ul {
    display: block;
  }

  .chzn-container a {
    padding: 0;
  }

  .chzn-container-multi .chzn-choices {
    width: 210px;
  }

  .chzn-results li {
    float: none;
  }

  .chzn-container-multi .chzn-choices .search-choice {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }

  #tabs {
    clear: both;
  }

  #error-msg {
    display: none;
  }

  #tabs .ui-widget-content {
    color: black;
    background-color: white;
  }

  .pagination {
    text-align: center;
  }

  .pagination a {
    color: blue !important;
  }

  .ui-widget {
    border-radius: 0 !important;
  }

  .updating {
    background-image: image-url("spinner-arrow.gif");
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
  }
}
