#duration-alert {
  text-align: center;
}

.interval-error {
  color: red !important;
}

.fa-exclamation-triangle {
  color: red;
}

.partially-available-warning {
  color: $orange;
}

.icon-large {
  font-size: 120%;
}
