.table-tight {
  width: inherit;

  input,
  .control-group {
    margin-bottom: 0;
  }
}

table {
  td {
    .responsive-header {
      display: none;
    }
  }

  .centered {
    text-align: center;
  }
}

table {
  .first-in-bundle {
    border-top: 3px solid $navbarActiveBorderColor;
  }
}

tfoot.cart {
  border-top: 3px solid $navbarActiveBorderColor;
}

@media screen and (min-width: 980px) {
  .table-product-results__name, .table-product-results__type, .table-product-results__facility {
    max-width: 124px;
  }

  .table-product-results__description {
    max-width: 444px;
  }

  .table-user-accounts__remove {
    max-width: 25px;
  }
}
