/***********************
* Search forms
*/
.search_form {
  fieldset#search, .full-width {
    input, select {
      width: 100%;
    }
  }
}

.search_form input[type=submit] {
  clear:both;
  float:right;
  margin-bottom: 0.5em;
}

#table_billing {
  margin-top: 1em;

  .table-actions {
    .control-group.fields {
      width: 60%;
      margin: auto;
    }
  }

  .submit {
    text-align: right;
  }
}
