a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a.btn {
 text-decoration: none;
}

// Icons within links should not be underlined
a {
  [class^="icon-"], [class*=" icon-"] {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  color: black;
}

h1 {
  margin-top: 0.5em;
  border-bottom: 1px solid #ddd;
}

h3 {
  margin-bottom: 0;
}

h4 {
  font-weight: bold;
}

label {
  font-weight: bold;
  margin-bottom: 0;
}

