a { /* "links" */
  text-decoration: none;
  letter-spacing: $fontSpacing;
}

a:hover {
  text-decoration: none;
}

a.btn {
 text-decoration: none;
}

// Icons within links should not be underlined
a {
  [class^="fa-"], [class*=" fa-"] {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  color: $headerColor;
}

h1 { /* "page title" */
  font-size: 3.167em;
  margin-top: 0.5em;
}

.welcome { /* "welcome text" */
  font-size: 2em;
  color: #A3A3A3;
  line-height: 1.25em;
}

h2 { /* "instrument title" */
  font-size: 2.417em;
}

h3, th { /* "static title" */
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1em;
}

h4 { /* "smaller subtitles" */
  font-weight: bold;
  font-size: 1.333em;
}

.fc-left > h2 { /* "calendar date" */
  font-weight: bold;
  font-size: 1.333em;
}

label {
  font-weight: bold;
  margin-bottom: 0;
}

.normal-weight {
  font-weight: normal;
}

// Custom headers
.header-tight {
  line-height: 1.1;
}

.text__alert {
  color: $errorText;
}
