.approval-column {
  width: 8%;
}

.approval-checkbox {
  padding-left: 20px !important;
}

.product-column {
  width: 40%;
}

.scheduling-group-column {
  width: 30%;

  select {
    margin-bottom: 0px;
  }
}
