.unavailable,
.fc-agenda .unavailable .fc-event-time,
.unavailable a {
  background-color: #DBDBDB;
  border-color: #DBDBDB;
  color: #fff;
}

.fc-event.current-event {
  background: #378006;
}

#overlay.on #spinner #hide  {
  background: image-url('transparent.png') top left repeat;
  filter: alpha(opacity=50);
  opacity: 0.5;
  overflow: hidden;
}

#overlay.off {}

#overlay.off #spinner {
  background:none;
}

#overlay.on #spinner {
  background: image-url('spinner.gif') top center no-repeat;
}

.fc-header-toolbar {
  margin-bottom: 0;
}

.fc-header-toolbar h2 {
  font-size: 18px;
  line-height: 1.6em;
}

.fc-noheader .fc-toolbar.fc-header-toolbar {
  display: none;
}
