- if !acting_as? && current_user.try(:administrator?)
  %li{class: global_settings_link.tab_class(controller)}
    = global_settings_link.to_html

- if !acting_as? && current_user.try(:billing_administrator?)
  %li.pull-right{class: admin_cross_facility_billing_tab_link.tab_class(controller)}
    = link_to t("pages.global_billing"), facility_transactions_path("all")
