- if !acting_as? && current_user.try(:administrator?)
  %li.manage-button= link_to text("pages.manage_short"), :list_facilities

- elsif !acting_as? && menu_facilities.any?
  %li.manage-button.dropdown.pull-right{class: controller.active_tab == "manage_facilites" ? "active" : ""}
    = link_to "#", class: "dropdown-toggle", data: { toggle: :dropdown, target: "#" } do
      = t("pages.manage_short")
      %b.caret
    %ul.dropdown-menu
      - menu_facilities.each do |facility|
        %li= link_to facility.name, dashboard_facility_path(facility)
