= t_model_error(@instrument.class, :requires_approval, instrument: @instrument)
= form_tag facility_instrument_request_approval_index_path(current_facility, @instrument) do
  = submit_tag t("boolean.true"), class: "btn"
  = link_to t("boolean.false"), facility_path(current_facility), class: "btn"
