= simple_form_for(@journal_cutoff_date) do |f|

  = f.input :cutoff_date, as: :time_dropdown

  = f.button :submit, t(".submit"), class: ["btn", "btn-primary"]
  = link_to t(".cancel"), journal_cutoff_dates_path

  :javascript
    $(function () { $(".datepicker").datepicker(); });
