= content_for :h1 do
  Global Settings
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_global', :locals => { :sidenav_tab => 'affiliates' }

%h2 New Affiliate
= render :partial => 'form'
