= f.input :name, hint: text("hints.name", field: f.object.model_name.human.downcase)

= f.input :url_name, hint: url_for([current_facility, f.object.model_name.singular, id: "URL_NAME"]), as: :string

- if SettingsHelper.feature_on? :product_specific_contacts
  = f.input :contact_email,
    hint: text(".hints.contact_email", facility_email: current_facility.email),
    required: current_facility.email.blank?

= f.text_area :description, class: "editor", hint: text(".hints.description")
