# This will override what is in settings.yml, which is committed to version control.

# Uncomment these lines if you wish to use S3 in your application.
# paperclip:
#   storage: fog
#   fog_credentials:
#     provider: AWS
#     aws_access_key_id: Your-Key-Here
#     aws_secret_access_key: Your-Key-Here
#   fog_directory: Your-Bucket-Name-Here
#   fog_public: false
#   path: ":class/:attachment/:id_partition/:style/:safe_filename"
