$baseFontSize: 12px;

@import "bootstrap-variables";
@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";
@import "chosen";

@import "nucore-variables";
@import "nucore-overrides";
@import "nucore";

@import "app/typography";
@import "app/reservation_edit";
@import "app/header";
@import "app/collapsable";
@import "app/tab_count";
@import "app/timeline";
@import "app/order_management";
@import "app/order_details";
@import "app/transaction_move";
@import "app/transaction_search";
@import "app/reports";
@import "app/reservations";
@import "app/user_product_access_list";
@import "app/facility_accounts";
@import "app/tables";
@import "app/cart";
@import "app/product_list";
@import "app/chosen-override";
@import "app/global_alert_banner";

@import "fine-uploader/fine-uploader-new";
@import "fine-uploader-override";
@import "fullcalendar";
@import "calendar/fullcalendar.extensions";
@import "clockpunch";


// This uses a theme in vendor/engines because it looks better in the context
// of NUcore than the default theme.
// See vendor/engines/stylesheets/jquery-ui.theme.md for instructions on updating the theme.
@import "jquery-ui-smoothness";
