
.document {
  background: image-url("icon_file.jpg") no-repeat 0 0;
  line-height:24px;
  padding-left:28px;
}

.estimated_cost {
  color:orange;
}

.actual_cost {
  color:green;
}

.reconcile-note {
  color:#dbbfc6;
}


.sortable {
  background-image: image-url("icon-sort.gif");
  background-position:right center;
  background-repeat:no-repeat;
  padding-right:10px;
}

.asc {
  background-image: image-url("icon-sort-ascend.gif");
  background-position:right center;
  background-repeat:no-repeat;
  padding-right:10px;
}

.desc {
  background-image: image-url("icon-sort-descend.gif");
  background-position:right center;
  background-repeat:no-repeat;
  padding-right:10px;
}

tr.reconcile-warning td {
  background-color:#dbbfc6 !important;
}


/***************************************
tabs
***************************************/

ul.tabs .updating,
ul.tabs .updated {
  display: inline-block;
  width: 16px;
  height: 16px;
    margin-left: 0.4em;
    margin-right: 4px;
    text-decoration: none;
}
ul.tabs .updating {
  background-image: image-url("spinner-arrow.gif");
  position: relative;
  top: 3px;
}
ul.tabs .updated {
  padding-bottom: 4px;
}


/***
 * Popup calendar
 */

.ui-datepicker-calendar thead span {
    color: black;
}

#ui-datepicker-div {
  z-index: 10 !important; /* was being hidden behind fullcalendar */
}

/***
 * Product listing
 ***/

.price_policy_error {
  display: block;
  float: right;
  color: red;
}

/***
 * Notifications
 ***/

#notifications li {
    padding: 2em 0;
    margin-bottom: 2em;
    text-align: center;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #888;
}

.dismiss-notice {
    margin-left: 5em;
}


/***
 * Bulk import
 ***/

#bulk-import h2 {
  margin-top: 1em;
}

#bulk-import form {
  width: 50%
}

#bulk-import form, #bulk-import-template, #bulk-import-fields {
  margin: 0 auto;
}

#bulk-import-fields {
  width: 35%;
  margin-top: 3em;
}

#bulk-import-template {
  text-align: center;
}

#bulk-import label {
  margin: .5em 0;
}

#bulk-import .btn {
  margin: 1em 0 0 3em;
}

#bulk-import input[type=file] {
  margin-bottom: 1em;
}

#bulk-import-template {
  display: block;
  margin-top: 3em;
}

/* Forms */
.account_number_field {
  float: left;
}

