.highlighted {
  @include gradient-vertical($sidebarActiveBackgroundColorHighlight, $sidebarActiveBackgroundColor);
  color: $sidebarActiveColor;
}

.show-for-print {
  display: none;
}

/*
 nav
*/

nav ul.nav > li.active,
nav ul.nav > li:hover {
  border-top: $navbarActiveBorderHeight solid $navbarActiveBorderColor;
  margin-top: -$navbarActiveBorderHeight;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  @extend .highlighted;
}

/*
 breadcrumb nav
*/
#breadcrumb {
  font-size: 85%;
  border-bottom: 1px solid #ddd;
}

#breadcrumb .breadcrumb {
  margin: 1em 0;
  padding: 0;
  background: inherit;
}

/*
  Sidebar navigation
*/
.sidebar-nav {

  margin: 0 0 11px 0;
  background-color: $lighterGrey;
  border-radius: 8px;
  padding: 12px 7px 11px 7px;
  box-shadow: none;
  border:none;
  list-style-type: none;

  li {
    line-height: 1.9em;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    padding: 2px 15px;
    a {
      border: none;
      letter-spacing: $fontSpacing;
    }
    &.nav-header {
      line-height: 2em;
      margin-top: 0;
    }
    &.divider {
      margin: 0.4em 1.4em;
      padding: 0;
      border: solid $grey 0.5px;
    }
  }
}

.sidebar-nav > li > a{
  color: $useColorDark;
}

.manage-mode .sidebar-nav > li > a{
  color: $manageColorDark;
}

.sidebar-nav > li.active {
  background-color: $useColorLight;
  a {
    color: $sidebarActiveColor;
  }
}

.manage-mode .sidebar-nav > li.active {
  background-color: $manageColorLight;
  a {
    color:$sidebarActiveColor;
  }
}

li.nav-spacer {
  margin: 1em;
}

/*
 footer
*/
.footer__container {
  border-top: 1px solid #ddd;
  padding-top: 1em;
  margin-top: 5em;
}

.footer__copyright {
  font-size: 85%;
  color: #919191;
  text-align: right;
  float: right;
}

.footer__logo {
  float: left;
  margin-bottom: 10px;
  mix-blend-mode: multiply;
}

/* Acting As Banner */
#acting_as {
  @include gradient-vertical(#268BD2, #6ebdf3);

  border-bottom:2px solid #1570a2;
  font-size:15px;
  overflow:hidden;
  text-align:center;

  p {
    font-weight:bold;
    margin:3px 0;
  }

  a {
    font-weight: normal;
  }
}



/*
  Errors
*/
.errorExplanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block;
  h2 {
    font-size: 16px;
    line-height: 1em;
    margin-top: 0;
  }
}

.notice {
  @extend .alert;
  @extend .alert-info;
}

/*
  Product List
*/

.product_list {
  ul {
    @extend .unstyled;
  }
  input {
    width: 2em;
    padding: 0 3px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  a.fa-calendar {
    text-decoration: none;
    color: $textColor;
    &.available {
      color: $successText;
    }
    &.in-use {
      color: $errorText;
    }
  }
}

/*
  Product View
*/

.order-statuses-table {
  .action-column {
    width: 5em;
    border-right: 1px solid $tableBorder;
  }
  .child {
    padding-left: 3em;
  }
}

.backdate_fields {
  padding: 0 0 12px 6px;
}

#ui-datepicker-div {
  /* modal is z-index of 1050.
   * !important needed to keep from being hidden behind fullcalendar */
  z-index: 1051 !important;
}

.document {
  background: image-url("icon_file.jpg") no-repeat 0 0;
  line-height:24px;
  padding-left:28px;
}

/* Various Styles */

abbr[title=required] {
  border-bottom: none;
}

ul.unstyled {
  list-style: none;
  margin-left: 0;
}

.undecorated {
  text-decoration: none;
}

form.compact { margin: 0 }

.modal form,
.well form {
  margin-bottom: 0;
}

.well {
  padding: 8px 19px;
  h2, h3 {
    margin-top: 0;
  }
}

td.order-note,
th.order-note {
  width: 20%;

  &.order-note--wide {
    width: 40%;
  }
}

.js--note {
  display: none;
}

td.currency,
th.currency {
  text-align: right;
}
.currency-input input {
  width: 7em;
}

.pagination {
  margin: 0;
  text-align: center;
}

.btn-add {
  @extend .btn;
  @extend .btn-success;
}

.btn-inline {
  margin-top: -10px;
}

.old-table,
.footnote {
  .estimated_cost {
    color: $warningText;
  }

  .actual_cost {
    color: $successText;
  }

  .reconcile-note {
    color:#dbbfc6;
  }

  tr.reconcile-warning td {
    background-color: $errorBackground !important;
  }
}

.table tr.row-warning {
   td, th {
    background-color: $errorBackground;
  }
}

.table .super-th {
  text-align: center;
}

/* Schedule Rules */
.inline-checkbox-list {
  .controls label {
    display: inline-block;
    font-weight: normal;
    margin-right: 1em;
  }
}

.price-policy-table input[type=text] {
  width: 50%;
}

/* Price policies */

p.charge-for {
  font-style: italic;
}

p.per-minute {
  font-style: italic;
  @extend .muted;
  font-size: 85%;
  margin-top: -0.75em;
}

p.per-minute-show {
  @extend .per-minute;
  margin-top: 0;
}

/* Account Fields */
.order_account,
.order_detail_account {
  select {
    width: inherit;
    max-width: 100%;
  }
}

ul.inline > li, ol.inline > li {
  &.account_number_field {
    padding: 0;
    input {
      width: inherit;
    }
  }
}

/* Accessories Form */
.pick_accessories_form {
  .control-group, input {
    margin-bottom: 0;
  }
}

.action-form select {
  width: 100%;
}

/* Other forms */
textarea.wide {
  width: 99%;
  height: 4em;
}

.compressed-inline {
  label {
    padding-left: 0;
  }
}

.input-inline {
  display: inline-block;
  margin-right: 1em;
  .controls {
    display: inherit;
  }
}

/* Bootstrap adds an element with this class when you expand a dropdown and your
 * browser supports the ontouchstart event. It's a workaround for mobile Safari's
 * click handlers, but takes over the whole screen and prevents clicks to the
 * sub-menu links.
 * https://stackoverflow.com/questions/17579750/drop-down-menu-not-working-on-mobile-devices
 */
.dropdown-backdrop {
  position: static;
}

.checkboxControl {
  display: flex;
  min-height: 6em;
}

.checkboxControl__checkbox {
  margin-right: 2.5em;
}

.productListLine {
  display: flex;
}

.productListLine__firstItem {
  display: flex-start;
  padding-right: 1em;
}

.productListLine__lastItem {
  display: flex-end;
}

.az_list {
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
}

.az_list a {
  cursor: pointer;
}

.az_listing {
  font-size: 13px;
  display: inline-block;
  padding: 0.4em;
  box-sizing: border-box;
}

/* Use/Manage CSS */
body {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 53%, #e4e4e4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 53%,#e4e4e4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 53%,#e4e4e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
}

.manage-mode {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 53%, $manageGradient 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 53%,$manageGradient 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 53%, $manageGradient 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$manageGradient',GradientType=0 ); /* IE6-9 */
}

html,body{
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body nav .navbar-inner .container .nav, .nav-tabs{
  border-bottom: 1px solid $useColor;
  min-height: 40px;
}

.manage-mode nav .navbar-inner .container .nav, 
.manage-mode .nav-tabs {
  border-color: $manageColorDark;
}

.alert-info {
  background-color: transparent;
  border-color: transparent;
  color: $manageColorDark;
  font-size: 24px;
  line-height: 1em;
}

.navbar-inner {
  background: none;
  border: none;
}

.navbar-static-top .navbar-inner {
  box-shadow: none;
}

nav ul.nav > li.active, nav  > 
li.active, nav ul.nav > li:hover > 
li {
  border:none;
  margin-top: 0;
  margin-bottom: -1px;
}

nav ul.nav > li.active, nav  > 
li.active, nav ul.nav > li:hover, nav > 
li:hover {
  border: none;
  margin-top: 0;
  background-color: white;
}

.container > .nav > li > a , .nav.nav-tabs > li > a{
  padding: 11px 12px 11px 12px;
  text-decoration: none;
  color: $useColorDark;
  transition: ease 0.3s all;
}

.manage-mode .container > .nav > li > a , .manage-mode .nav.nav-tabs > li > a{
  color: $manageColorDark;
}

.container > .nav > li:hover > a {
  text-shadow: 0 0 0.5px $useColorDark;
  color: $useColorDark;
}

.manage-mode .container > .nav > li:hover > a {
  text-shadow: 0 0 0.5px $manageColorDark;
}

.navbar .nav > .active > a:hover{
  background: none;
  background-color: $headerBackgroundColor;
  box-shadow: none;
  color: $useColorDark;
}

.manage-mode .navbar .nav > .active > a:hover{
  color: $manageColorDark;
}

.manage-mode .container > .nav > li:hover > a {
  color: $manageColorDark;
}

.nav > li.active a {
  border: 1px solid $useColor;
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
  background-color: $headerBackgroundColor;
  font-weight: bold;
}

.navbar .nav > li.active > a {
  box-shadow: none;
  background-color: $headerBackgroundColor;
  color: $useColorDark;
}

.manage-mode .navbar .nav > li.active > a, .manage-mode li.active > a {
  border-color: $manageColorDark;
  color: $manageColorDark;
  border-bottom-color: transparent;
}

#use_tab, .container > .nav > li.manage-button a{
  text-align: center;
  color: $headerColor;
}

.manage-mode .container > .nav > li.manage-button:hover a{
  color: $headerBackgroundColor;
}

#use_tab {
  width: 44px;
  height: 23px;
}

#use_tab > a {
  border: solid $useColor 1px;
  border-radius: 8px;
  padding: 1px 1px;
  margin-top: 9px;
}

.manage-mode #use_tab > a {
  border-color: $grey;
}

#use_tab.active a {
  text-shadow: none;
  background-color: $useColor;
  color: $headerBackgroundColor;
}

#use_tab.active > a:hover {
  background-color: transparent;
  box-shadow: none;
  color: $darkGrey;
}

.manage-mode #use_tab.active a {
  background-color: $manageColorDark;
}

.manage-button {
  margin: 0 10px;
  width: 76px;
  height: 23px;
}

.container .nav .manage-button > a {
  border: solid $grey 1px;
  border-radius: 8px;
  padding: 1px 1px;
  margin-top: 9px;
}

.manage-mode .nav > li.manage-button > a {
  border-color: $manageColorDark ;
  background-color: $manageColorDark;
  text-shadow: none;
  color: $headerBackgroundColor;
}

.manage-mode .nav .manage-button.active a {
  background-color: $manageColorDark ;
}

.nav.pull-right {
  letter-spacing: $fontSpacing;
}
