/*
UCONN Fork Styling
Unfortunately, many of our overrides require !important to apply correctly.

Fork-specific styling should go in this file. This is included after Bootstrap,
so you will have access to Bootstrap's variables and mixins.

If you need to override a bootstrap variable--for example, $sansFontFamily--you should
do that in bootstrap-variables.scss, since it is included before bootstrap.

Example of this to include here:
  $headerBackgroundColor: #571963;
  $headerColor: white;
*/
$dark-grey: #3F3B26;
$grey: #9B9B9B;
$light-orange: #FFAE84;
$orange: #FF7126;

body {
  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 53%, #e4e4e4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 53%,#e4e4e4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 53%,#e4e4e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
}
html,body{
  min-height: 100%;
}
.nav{
  border-bottom: 1px solid $orange;
}
.alert-info {
  background-color: transparent;
  border-color: transparent;
  color: $orange;
  font-size: 24px;
  line-height: 1em;
}

.navbar-inner {
  box-shadow: none !important;
  background: none;
  border: none;
}
.brand{
  font-family: inherit !important;
}
.nav li:hover{
  border: none !important;
  margin-top: 0 !important;
}
.nav li a{
  padding: 13px;
  text-decoration: none;
  color: black;
  transition: ease 0.3s all;
}
.nav li.active{
  border:none !important;
  margin-top: 0 !important;
}
.nav li.active a{
  border: 1px solid $orange !important;
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent !important;
  background-color: white !important;
  box-shadow: none !important;
}
