/* These are default vaules. Override them in nucore-overrides.scss */

/* Header */
$headerFont: Georgia, 'Times New Roman', Times, serif;
$headerColor: black;
$headerBackgroundColor: white;
$headerBackgroundColorHighLight: darken($headerBackgroundColor, 5%);

/* Login, Cart, etc Links */
$usernavColor: $navbarLinkColor;
$usernavColorHover: $navbarLinkColorHover;
$usernavDividerColor: transparentize($grayDark, 0.95);

/* Primary Navbar */
$navbarActiveBorderHeight: 5px;
$navbarActiveBorderColor: #AAA;

/* Sidebar Colors */
$sidebarActiveBackgroundColor: $linkColor;
$sidebarActiveBackgroundColorHighlight: darken($sidebarActiveBackgroundColor, 5%);

$sidebarActiveColor: $white;
