/*
 header
*/
header .navbar-inner {
  padding: 10px 0;
}

header.account {
  h3 {
    line-height: 1em;
  }
  h3, p {
    margin-bottom: 0;
    margin-top: 0;
  }
  margin-bottom: 1em;
}

/*
 nav
*/
nav ul.nav > li.active,
nav ul.nav > li:hover {
  border-top: 5px solid rgb(172, 166, 108);
  margin-top: -5px;
}

/*
 breadcrumb nav
*/
#breadcrumb {
  font-size: 85%;
  border-bottom: 1px solid #ddd;
}
#breadcrumb .breadcrumb {
  margin: 1em 0;
  padding: 0;
  background: inherit;
}

/*
  Sidebar navigation
*/
.sidebar-nav {
  @extend .well;
  @extend .well-small;
  @extend .nav;
  @extend .nav-list;

  li {
    line-height: 1.3em;
    &.nav-header {
      line-height: 2em;
      margin-top: 0;
    }
    &.divider {
      margin: 0.5em 1px;
    }
  }
}

/*
 footer
*/
footer .container {
  border-top: 1px solid #ddd;
  padding-top: 1em;
  margin-top: 5em;
}

footer .span8 {
  font-size: 85%;
  color: #919191;
  text-align: right;
  line-height: 75px;
}

.currency-input input {
  width: 7em;
}

.pagination {
  margin: 0;
  text-align: center;
}

.btn-add {
  @extend .btn;
  @extend .btn-success;
}

.unstyled_list {
  ul {
    list-style: none;
    margin-left: 0;
  }
}

/* Acting As Banner */
#acting_as {
  @include gradient-vertical(#268BD2, #6ebdf3);

  border-bottom:2px solid #1570a2;
  font-size:15px;
  overflow:hidden;
  text-align:center;

  p {
    font-weight:bold;
    margin:3px 0;
  }

  a {
    font-weight: normal;
  }
}



/*
  Errors
*/
.errorExplanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block;
  h2 {
    font-size: 16px;
    line-height: 1em;
    margin-top: 0;
  }
}

.notice {
  @extend .alert;
  @extend .alert-info;
}

/*
  Product List
*/

.product_list {
  @extend .unstyled_list;
  input {
    width: 2em;
    padding: 0 3px;
  }
  a.icon-calendar {
    text-decoration: none;
    color: $textColor;
    font-size: 175%;
  }
}

/*
  Product View
*/
.wysiwyg {
  float: left;
}

.order-statuses-table {
  .action-column {
    width: 5em;
    border-right: 1px solid $tableBorder;
  }
  .child {
    padding-left: 3em;
  }
}

.backdate_fields {
  float: left;
  padding: 8px 0 0 6px;
}
