/*
UCONN Fork Styling
Unfortunately, many of our overrides require !important to apply correctly.

Fork-specific styling should go in this file. This is included after Bootstrap,
so you will have access to Bootstrap's variables and mixins.

If you need to override a bootstrap variable--for example, $sansFontFamily--you should
do that in bootstrap-variables.scss, since it is included before bootstrap.

Example of this to include here:
  $headerBackgroundColor: #571963;
  $headerColor: white;
*/
// Shared
$dark-grey: #3F3B26;
$grey: #9B9B9B;
// Manage Mode
$light-orange: #FFAE84;
$orange: #FF7126;
// Use mode
$light-blue: #CDE4FC;
$blue: #4A9FF7;

body {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 53%, #e4e4e4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 53%,#e4e4e4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 53%,#e4e4e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
}
.manage-mode {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 53%, $light-blue 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 53%,$light-blue 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 53%, $light-blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$light-blue',GradientType=0 ); /* IE6-9 */
}
html,body{
  min-height: 100%;
}

body nav .navbar-inner .container .nav, .nav-tabs{
  border-bottom: 1px solid $orange;
  min-height: 40px;
}

.manage-mode nav .navbar-inner .container .nav, 
.manage-mode .nav-tabs {
  border-color: $blue;
}

.alert-info {
  background-color: transparent;
  border-color: transparent;
  color: $blue;
  font-size: 24px;
  line-height: 1em;
}

.navbar-inner {
  box-shadow: none !important;
  background: none;
  border: none;
}

.brand{
  font-family: inherit !important;
}

.nav li:hover{
  border: none !important;
  margin-top: 0 !important;
}

.nav li a{
  padding: 13px;
  text-decoration: none;
  color: black;
  transition: ease 0.3s all;
}
.nav li.active{
  border:none !important;
  margin-top: 0 !important;
  margin-bottom: -1px;
}

.nav li.active a{
  border: 1px solid $orange !important;
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent !important;
  background-color: white !important;
  box-shadow: none !important;
}

.manage-mode .nav li.active a{
  border-color: $blue !important;
  border-bottom-color: transparent !important;
}

#use_tab, .manage-button {
  text-align: center;
}

#use_tab {
  width: 44px;
  height: 23px;
}

#use_tab a{
  border: solid $orange 1px !important;
  border-radius: 8px;
  padding: 1px 1px;
  margin-top: 9px;
}

.manage-mode #use_tab a{
  border-color: $grey !important;
}

#use_tab.active a{
  text-shadow: none;
  background-color: $orange !important;
  color: white;
}

.manage-mode #use_tab.active a{
  background-color: $blue !important;
}

.manage-button {
  margin: 0 10px;
  width: 76px;
  height: 23px;
}

.manage-button a{
  border: solid $grey 1px !important;
  border-radius: 8px;
  padding: 1px 1px !important;
  margin-top: 9px;
}

.manage-mode .manage-button a{
  border-color: $blue !important;
  background-color: $blue !important;
  text-shadow: none !important;
  color: white !important;
}

.manage-mode .manage-button.active a{
  background-color: $blue !important;
}
