$headerFont: Georgia, 'Times New Roman', Times, serif;
$headerColor: black;
$headerBackgroundColor: white;
$navbarActiveBorderHeight: 5px;
$navbarActiveBorderColor: #AAA;
$usernavColor: $navbarLinkColor;
$usernavColorHover: $navbarLinkColorHover;
$sidebarActiveBackgroundColor: $linkColor;
$sidebarActiveColor: $white;
