/*
Fork-specific styling should go in this file. This is included after Bootstrap,
so you will have access to Bootstrap's variables and mixins.

If you need to override a bootstrap variable--for example, $sansFontFamily--you should
do that in bootstrap-variables.scss, since it is included before bootstrap.

Example of this to include here:
  $headerBackgroundColor: #571963;
  $headerColor: white;
*/

// Shared
$dark-grey: #3F3B26;
$grey: #9B9B9B;
$light-grey: #D4D1D1;
$lighter-grey: #F3F3F3;

// Manage Mode
$orange: #FF7126;
$orange: #F89662;
$light-orange: #FFAE84;

// Use mode
$dark-blue: #4A9FF7;
$blue: #C2DCF8;
$light-blue: #CDE4FC;
