dl {
  dt {
    font-weight: bold;
    margin-top: 1em;
  }
  dd {
    margin-bottom: 1em;
  }
}

table.order-list {
  tr.child {
    .product, .order-id {
      padding-left: 3em;
    }
  }

  tr.status-cancelled {
    @extend .muted;
  }

}

.label {
  &.status-complete,
  &.status-reconciled {
    @extend .label-success;
  }

  &.status-cancelled {
    @extend .label-important;
  }
}
