@media print {
  a[href]:after {
    content: none !important;
  }

  .hide-from-print {
    display: none !important;
  }

  .show-for-print {
    display: block !important;
  }

  .manage_order_detail {
    .banner-list {
      .span2 {
        width: 1.75in;
        float: left;
      }
    }

    .cost-table {
      clear: both;

      .cost, .subsidy, .total {
        width: 1.5in !important;
      }
    }
  }

  input, textarea, select, .add-on {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    width: inherit !important;
    height: 15px !important;
    line-height: 15px !important;
    vertical-align: middle !important;
    padding: 0 !important;
  }

  select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;

    &::-ms-expand {
      display: none;
    }
  }
}
