/* Bootstrap overrides go here. This is included after bootstrap. */
$navCollapseBackgroundColor: #f7f7f7;
$navbarLinkColorActive: #e6e6e6;
$navCollapseColor: #777;
$navbarActiveBorderColor: #aaa;

/* 979px - 980px is where nav-collapse gets triggered */
@media screen and (max-width: 979px) {

  .navbar .btn-navbar {
    padding: 5px 15px;

    .fa-bars {
      transform: scaleX(1.5); // Widen it
    }
  }

  .hidden-with-nav {
    display: inherit !important;
  }
  .visible-with-nav {
    display: none !important;
  }
  .nav-collapse {
    background-color: $navCollapseBackgroundColor;
    position: relative;
    width: 100%;
  }
  .nav-collapse .nav {
    margin: 0;
    border-top: 1px solid #ddd;
    &:empty {
      border-top: 0;
    }
  }
  .sidebar-nav {
    width: 150px;
  }
  header .navbar .nav > li > a, .nav-collapse .dropdown-menu a {
    padding: 10px;
    border-radius: 0;
  }
  /* this selector has to override specificity of bootstrap-responsive's
      `header .navbar .nav > li > a` and `!important` as well as target
      only the .nav-collapse links
  */
  header .navbar .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    color: $navCollapseColor !important;
    background: $navCollapseBackgroundColor;

    &:hover, &:focus {
      color: $navCollapseColor !important;
      background: $navbarLinkColorActive;
    }
  }
  header .navbar .nav-collapse .nav > li.active > a {
    background: $navbarLinkColorActive;
  }
  header .navbar .nav > li.navbar-text {
    padding: 10px;
    line-height: 20px;
    color: $navCollapseColor !important;
  }
  .nav-collapse .navbar-form, .nav-collapse .navbar-search {
    margin: 0;
    padding: 10px;
    border-bottom: 0;
  }
  .timeline-wrapper {
    overflow-x: scroll;
  }

  // Responsive table behvavior inspired by
  // https://css-tricks.com/responsive-data-tables/
  .js--responsive_table {

    table, thead, tbody, th, td, tr {
      display: block;
    }

    td.hide-on-mobile {
      display: none;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    .first-in-bundle {
      border-top: 3px solid $navbarActiveBorderColor;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 35%;
      text-overflow: ellipsis;
      overflow: hidden;

      .responsive-header {
        display: block;
        float: left;
        margin-left: -52%;
        width: 30%;
        font-weight: bold;
      }

      &.order-note.order-note--wide {
        width: auto;
      }

    }

    th.currency, td.currency {
      text-align: left;
    }

    caption {
      display: block;
    }

  }
}

@media screen and (min-width: 980px) {
  .visible-with-nav {
    display: inherit !important;
  }
  .hidden-with-nav {
    display: none !important;
  }
  .sidebar-nav {
    width: 182px;
  }
}
@media screen and (max-width: 600px) {
  .az_list {
    display: none;
  }
}
