/* From clockpunch */
.tooltip {
  position: absolute;
  background: #eeeeee;
  border: 1px solid #cccccc;
  padding: 10px 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #C00;
  font-weight: bold;
  top: -0.5em;
  left: 98%; }
  .tooltip:before {
    position: absolute;
    display: inline-block;
    content: '';
    left: -7px;
    top: 12px;
    border-top: 7px solid transparent;
    border-right: 7px solid #eeeeee;
    border-bottom: 7px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.2); }
  .tooltip:after {
    position: absolute;
    display: inline-block;
    content: '';
    left: -6px;
    top: 13px;
    border-top: 6px solid transparent;
    border-right: 6px solid #eeeeee;
    border-bottom: 6px solid transparent; }