= f.label :assigned_user
- if f.object.complete?
  = f.object.assigned_user ? f.object.assigned_user.full_name : 'Unassigned'
- else
  = f.collection_select(:assigned_user_id, User.find_users_by_facility(current_facility), :id, :full_name, :prompt => 'Unassigned')
