= OrderDetailNoticePresenter.new(@order_detail).alerts_to_html

- if @order_detail.missing_form?
  = simple_form_for @order_detail, url: add_missing_form_order_order_detail_path(@order, @order_detail), method: :put do |f|
    = f.submit t(".missing_form_button"), class: ["btn", "btn-danger"]

- if @order_detail.errors.any?
  .alert.alert-error
    = print_error_messages(@order_detail.errors, "<br/>").html_safe
