%ul
  %li
    %a{:href => product_facility_general_reports_path }
      %span Product
  %li
    %a{:href => account_facility_general_reports_path }
      %span Account
  %li
    %a{:href => account_owner_facility_general_reports_path }
      %span Account Owner
  %li
    %a{:href => purchaser_facility_general_reports_path }
      %span Purchaser
  %li
    %a{:href => price_group_facility_general_reports_path }
      %span Price Group