= content_for :head_content do
  = stylesheet_link_tag 'chosen'
  = javascript_include_tag 'chosen.jquery.min'

%li
  %label Order Status
  %select{ :name => "status_filter[]", :'data-placeholder' => 'Choose...', :multiple => true, :id => 'status_filter' }
    = options_for_select(OrderStatus.root_statuses.collect{|stat| [ stat.name_with_level, stat.id ] }, @status_ids)