%p.footnote
  %span.estimated_cost
    Orange
  amounts are estimates.
  %span.actual_cost
    Green
  amounts are final. Pricing will soon be assigned to completed transactions with unassigned amounts.