%p.footnote
  %span.estimated_cost
    Orange
  amounts are estimates.
  %span.actual_cost
    Green
  amounts are final.
  - if local_assigns[:admin]
    Pricing needs to be assigned to transactions with unassigned amounts.
  - else
    Pricing will soon be assigned to completed transactions with unassigned amounts.