%ul
  %li= "#{@status.status_string} (#{link_to("Refresh", facility_instrument_status_path(current_facility, @instrument), :id => "instrument_status_link_#{@instrument.id}", :class => 'instrument_status_link')})".html_safe
  %li=h human_datetime(@status.created_at)
