%ul
  %li= link_to 'Users', facility_users_path, :class => (sidenav_tab == 'users' ? 'active' : '')
  %li= link_to t('bulk_email.title'), new_facility_bulk_email_path(current_facility), :class => (sidenav_tab == 'email' ? 'active' : '')
