%ul.sidebar-nav
  = tab t("activerecord.models.user", count: 2), facility_users_path, (sidenav_tab == "users")
  = tab t('bulk_email.title'), facility_bulk_email_path, (sidenav_tab == "bulk_email")
  = tab t("activerecord.models.account", count: 2), facility_accounts_path, (sidenav_tab == "accounts")
