%ul
  %li= link_to 'Product Order Summary', product_order_summary_facility_reports_path, :class => (sidenav_tab == 'product_order_summary' ? 'active' : '')
  %li= link_to 'Instrument Utilization', instrument_utilization_facility_reports_path, :class => (sidenav_tab == 'instrument_utilization' ? 'active' : '')
