%ul
  %li= link_to 'Users', facility_users_path, :class => (sidenav_tab == 'users' ? 'active' : '')
  %li= link_to t('bulk_email.title'), facility_bulk_email_path, :class => (sidenav_tab == 'email' ? 'active' : '')
