%ul.sidebar-nav
  - if current_ability.can?(:administer, User)
    = tab t("activerecord.models.user", count: 2), facility_users_path, (sidenav_tab == "users")

  = render_view_hook "after_facility_users", sidenav_tab: sidenav_tab

  - if current_ability.can?(:read, Account)
    = tab t("activerecord.models.account", count: 2), facility_accounts_path, (sidenav_tab == "accounts")
