%ul.tabs
  %li.first= link_to 'Details', '#', :class => (secondary_tab == 'details' ? 'active' : nil)
  %li= link_to 'Orders', '#', :class => (secondary_tab == 'orders' ? 'active' : nil)
  %li= link_to 'Accounts', '#', :class => (secondary_tab == 'accounts' ? 'active' : nil)
