%ul.tabs
  %li.first= link_to 'Payment Sources', accounts_facility_price_group_path(current_facility, @price_group), { :class => secondary_tab == 'accounts' ? 'active' : nil }
  - if @price_group.facility_id
    %li= link_to 'Users', users_facility_price_group_path(current_facility, @price_group), { :class => secondary_tab == 'users' ? 'active' : nil }
    %li= link_to 'Edit', edit_facility_price_group_path(current_facility, @price_group), { :class => secondary_tab == 'edit' ? 'active' : nil }
