%ul.nav.nav-tabs
  = tab 'Details', facility_account_path(current_facility, @account), (secondary_tab == 'details')
  - if @account.statements.any?
    = tab 'Statements', facility_account_statement_path(current_facility, @account, 'list'), (secondary_tab == 'statements')
  = tab 'Members', facility_account_members_path(current_facility, @account), (secondary_tab == 'members')
