:javascript
  $(function(){
    $('#refresh-form').attr('action', '#{request.fullpath}');
  });

%table
  %tr
    - @headers.each do |heading|
      %th= heading
  - @rows.each do |row|
    %tr
      - row.each_with_index do |col, i|
        %td{:class => i == 0 ? '' : 'currency'}= col.is_a?(BigDecimal) ? number_to_currency(col) : col