:javascript
  $(function(){
    $('#refresh-form').attr('action', '#{request.fullpath}');
  });

%table
  %tr
    - @headers.each do |heading|
      %th= heading
  - @rows.each do |row|
    %tr
      - row.each do |col|
        - currency=col.is_a?(BigDecimal)
        %td{:class => currency ? 'currency' : ''}= currency ? number_to_currency(col) : col