name: Staging heroku auto deployment

# When this action will be executed
on:
  workflow_run:
    workflows: [ "Run test suite" ]
    branches: [ deploy-heroku ]
    types:
      - completed

  # Allow manually triggering this workflow by visiting
  # https://github.com/tablexi/nucore-open/actions/workflows/nucore-auto-deploy-staging.yml
  # and clicking "Run Workflow"
  workflow_dispatch:

jobs:
  deploy-staging-heroku:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.14
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "nucore-open"
          heroku_email: "testing+txi@txidigital.com"
