<!DOCTYPE html>
%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=UTF-8" }
    :plain
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://unpkg.com/formiojs@3.28.0/dist/formio.full.min.css">
      <style>
        #formio {
          margin: 2em auto;
          max-width: 960px;
        }
      </style>
      <script src="https://unpkg.com/formiojs@3.28.0/dist/formio.full.min.js"></script>
  %body
    / Prevent dragged files from being opened, so that Form.IO’s file component can accept drag & drop
    #formio{ "ondragover" => "event.preventDefault();" }
    = yield
