<!DOCTYPE html>
%html{lang: "en"}
  %head
    = render "/shared/head"
  %body{ class: SettingsHelper.feature_on?(:use_manage) && manage_mode? ? "manage-mode" : "" }
    #content{role: "main"}
      .container
        .row
          .span12
            = render "shared/flashes"
            = yield
