<!DOCTYPE html>
%html{lang: "en"}
  %head
    = render "/shared/head"
  %body.quick_reservation
    #content{ role: "main" }
      .container#quick_reservation
        = render partial: "shared/flashes"

        = yield
    %footer.quick_reservation
      %p= request.domain
