- if SettingsHelper.feature_on? :suspend_accounts
  - if @account.suspended?
    - if current_ability.can?(:unsuspend, @account)
      = link_to t(".activate"), open_or_facility_path("account_unsuspend", @account), class: "btn"

  - else
    - if current_ability.can?(:suspend, @account)
      = link_to t(".suspend"), open_or_facility_path("account_suspend", @account), class: "btn"
