- content_for :h1 do
  == My Payment Sources

- if @account_users.empty?
  %p.notice You do not have any payment sources.
- else
  - facilities = Facility.all
  %table
    %tr
      %th Payment Source
      %th.currency Balance
    - @account_users.each do |au|
      - a = au.account
      %tr.borderless
        %td{ :colspan => 2, :style => "background: #efefef" }
      %tr
        %td{ :colspan => 2 }
          - if au.can_administer?
            %b= link_to(a, account_path(a))
          - else
            %b= a
      - if au.can_administer?
        - facilities.each do |f|
          - ats = a.account_transactions.find(:all, :conditions => {:facility_id => f.id})
          - if !ats.empty?
            %tr
              %td{ :style => "padding-left: 50px"}=h f
              %td.currency= link_to number_to_currency(a.facility_balance_including_pending(f)), account_facility_statement_path(a, f, 'recent')
