- content_for :h1 do
  == My Payment Sources

- if @account_users.empty?
  %p.notice You do not have any payment sources.
- else
  =render :partial => 'shared/accounts_table', :locals => {:facilities => Facility.all}