= content_for :h1 do
  = t_my(Account)

- if @account_users.empty?
  %p.notice= "You do not have any #{Account.human_name.pluralize.downcase}."
- else
  =render :partial => 'shared/accounts_table', :locals => {:facilities => Facility.all}